
.blog-main-sec-wrp{
	padding-top: 20px;
} 
.blog-grd-wrp{
	position: relative;
}
.blog-grd-wrp ul li{
	padding-bottom: 35px;
}

.blog-grd-wrp ul li:nth-child(4n+1){
	clear: left;
}
.blog-filter-btn {
	padding: 32px 0 38px;
}
.blog-filter-btn button{
	padding: 0 22px 10px 20px;
	background: #0000;
	margin: 0;
	color:#424242;
	position: relative;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.blog-filter-btn button.active,
.blog-filter-btn button:hover{
	color:#fd6607;
}
.blog-filter-btn button:not(:last-child):after{
	content:""; 
	position: absolute;
	background: #fdcdae;
	height:18px;
	width:2px;
	right:0;
	top: 4px;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.blog-filter-btn button.active:after,
.blog-filter-btn button:hover:after{
	background: #fd6607;
}
.blog-filter-btn button:before{
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}












@media(max-width: 1199px){ 

}

@media(max-width: 991px){
	.blog-grd-wrp ul li:nth-child(4n+1){
		clear: initial;
	}
	.blog-grd-wrp ul li:nth-child(3n+1){
		clear: left;
	}
	.blog-filter-btn button {
	    padding: 0 14px 10px 13px;
	}
	.blog-filter-btn button:not(:last-child):after {
	    top: 2px;
	}
}

@media(max-width: 767px){
	.blog-grd-wrp ul li:nth-child(3n+1){
		clear: initial;
	}
	.blog-grd-wrp ul li:nth-child(2n+1){
		clear: left;
	}
	.blog-main-sec-innr-wrp .blog-filter-btn {
		display: none;
	}
}

@media(max-width: 639px){

}

@media(max-width: 575px){


}

@media(max-width: 479px){
	.blog-grd-wrp ul li:nth-child(2n+1){
		clear: initial;
	}


}

@media(max-width: 359px){

}


