.citas-main-sec{
	background: #f8f8f8;
	padding: 25px 0 85px;
	position: relative;
} 
.citas-main-sec:after{
	content: "";
    position: absolute;
    width: 666px;
    height: 812px;
    background-image: url(../images/citas-main-sec-bg-hart.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left:30%;
    top: 50px;
    z-index: 2;
}
.citas-main-sec-innr {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
.citas-main-hdr{

}
.citas-main-hdr h1{
	color:#0e857b;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	font-size: 35px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 25px;
	letter-spacing: -0.5px;
}
.citas-main-hdr h1 span{
	color:#fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
}
.citas-main-hdr h1:after{
	content: "";
	position: absolute;
	max-width: 280px;
	width: 100%;
	height: 1px;
	background: #eef1f7;
    bottom: 0;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.citas-main-hdr h1:before{
    content: "";
    position: absolute;
    width: 55px;
    height: 19px;
    background-image: url(../images/citas-main-hdr-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    bottom: -8px;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.citas-main-hdr p{
    font-size:18px;
    margin-bottom: 15px;
}
.citas-main-lft{
	width:63.26%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.citas-main-rgt{
	width:36.74%;
	float: left;
}
.citas-main-lft-innr{
	max-width: 392px;
}
.citas-main-lft-innr > i{
	max-width: 390px;
}
.citas-main-lft-innr > i{
	width:100%;
	display: inline-block;
	vertical-align: baseline;
}
.citas-main-lft-innr ul{
	margin-top: 5px;
}
.citas-main-lft-innr li{
	margin-bottom: 18px;
	font-size: 17px;
}
.citas-main-lft-innr li a{
	display: inline-block;
	vertical-align: baseline;
	color:#464646;
	font-size: 17px;
}
.citas-main-lft-innr li a.tel{
	color:#008175;
	font-family: "Lato-BoldItalic";
}
.citas-main-lft-innr li a:hover{
	color:#fa6405;
}
.citas-main-lft-innr li strong{
	display: inline-block;
	vertical-align: baseline;
	font-family: "Lato-Black";
	margin-bottom: 5px;
	font-weight: normal;
	color:#fa6405;
	font-size: 17px;
}
.citas-main-lft-innr li span{
	display: inline-block;
	vertical-align: baseline;
	color:#464646;
	font-size: 17px;
}
.citas-main-lft-innr li span em{
	display: inline-block;
	vertical-align: baseline;
	color:#464646;
}
.citas-main-lft-innr li:first-child span{
	font-family: "Lato-Italic";
}
#citas-main-contact-form .dft-page-contact-form-hdr h5{
	font-size: 20px;
}
#citas-main-contact-form .dft-page-contact-form-hdr strong{
	font-size: 23px;
	font-family: "OpenSans-Bold";
	margin-bottom: 25px;
	display: block;
}
#citas-main-contact-form .dft-page-contact-form {
    padding: 60px 20px 13px;
    margin-top: 60px;
}
#citas-main-contact-form .form-spn{
    font-size: 14px;
    color:#fff;
    margin-bottom: 10px;
}
#citas-main-contact-form .dft-page-contact-form-main select,
#citas-main-contact-form .dft-page-contact-form-main input {
	padding: 8px 10px;
	margin-bottom: 18px;
}
#citas-main-contact-form .dft-page-contact-form-main textarea {
	min-height: 167px;
}
#citas-partner-slider-sec{
	background: #fff;
}
#citas-noticias-slider-sec .noticias-slider-innr-wrp{
    margin-bottom: 140px;
}
#citas-service-sec-wrp {
	padding-top: 55px;
    padding-bottom: 50px;
}




@media(max-width: 1199px){ 

}

@media(max-width: 991px){
	.citas-main-sec:after {
	    content: none;
	}
	#citas-main-contact-form .dft-page-contact-form-hdr strong {
	    font-size: 18px;
	}
	#citas-main-contact-form .dft-page-contact-form-hdr h5 {
	    font-size: 16px;
	}
	.citas-main-lft {
	    width: 56%;
	    padding-left: 0;
	}
	.citas-main-rgt {
	    width: 44%;
	}
	.citas-main-hdr h1 {
	    font-size: 30px;
	}
	#citas-main-contact-form .form-spn br{
		display: none;
	}
}

@media(max-width: 767px){
	.citas-main-lft {
	    width: 100%;
	    padding-left: 0;
	}
	.citas-main-rgt {
	    width: 100%;
	}
	.citas-main-lft-innr a.tel{
		font-size: 40px; 
		color: #008175;
	}
	.citas-main-lft-innr a.tel:nth-child(7),
	.citas-main-lft-innr a.tel:nth-child(3){
		color:#fd6607;
	}
	.citas-main-lft-innr li strong {
	    color: #008175;
	}
	.citas-main-lft-innr {
	    max-width: 392px;
	    margin: auto;
	}
	#citas-main-contact-form .dft-page-contact-form {
	    max-width: 550px;
	    margin: 50px auto 0;
	}
	.citas-main-hdr h1 {
	    font-size: 25px;
	}
	.citas-main-hdr h1 span {
	    display: block;
	}
	.citas-main-hdr p {
	    font-size: 16px;
	}
}

@media(max-width: 639px){
	#citas-main-contact-form .form-spn {
	    font-size: 12px;
	}
}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){
	.citas-main-lft-innr li span {
	    font-size: 16px;
	}
}



