.footer-wrap{
	color:#FFF;
}
.ftr-main{
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.ftr-innr{
	position: relative;
}
.ftr-head {
	position: relative;
	padding: 12px 0 30px;
}
.ftr-head h2{
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
}
.ftr-head h2 strong{	
	font-family: 'OpenSans-ExtraboldItalic';
	font-weight: normal;
}
.ftr-head:after{
	content: "";
    position: absolute;
    width: 278px;
    height: 19px;
    background-image: url(../images/ftr-head-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    bottom: 12px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.ftr-head h2 span{
	font-family: 'OpenSansExtraboldItalic';
}
.ftr-col-wrp{
	padding-left: 28px;
	padding-bottom: 18px;
}
.ftr-col{
	float: right;
	position: relative;
}
.ftr-col-1{
	width:26.84%;
	padding: 10px 22px 0;
}
.ftr-col-2{
	width:39.43%;
	padding: 30px 50px 0;
}
.ftr-col-3{
	width:33.73%;
}
.ftr-col-1 a.ftr-logo{
	display: inline-block;
	vertical-align: baseline;
	max-width: 230px;
	margin-bottom: 28px;
}
.ftr-col-1 a img{
	width: 100%;
}
.ftr-col-2 li{
	margin-bottom: 18px;
}
.ftr-col-2 li a{
	display: inline-block;
	vertical-align: baseline;
	color:#fff;
}
.ftr-col-2 li a:hover{
	color:#bdbdbd;
}
.ftr-col-2 li strong{
	display: inline-block;
	vertical-align: baseline;
	font-family: "OpenSans-Bold";
	margin-bottom: 5px;
}
.ftr-col-2 li span{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-col-2 li span em{
	display: inline-block;
	vertical-align: baseline;/*
	font-family: 'OpenSansItalic';*/
}
.ftr-social a{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 15px;
	max-width: 50px;
	margin-right: 6px;
}
.ftr-social a:hover{
	opacity: .7
}
.ftr-social a img{
	width:100%;
}
.ftr-col-3 p{
	font-size:20px;
	margin-bottom: 0;
}
.ftr-col-3 p span{
	font-size:14px;
	display: block;
}
#ftr-map{
	position: relative;
	min-height: 300px;
	margin-bottom: 10px;
}
.ftr-btm-con{
	background: #008175;
	padding: 13px 15px;
}
.ftr-btm-con span{
	font-size: 14px;
}
.go-top-btn{
	position: absolute;
	right: 0;
	top: 0;
}
.go-top-btn{
	position: absolute;
	right: -15px;
	top: -32px;
	display: inline-block;
	max-width: 70px;
}
.go-top-btn:hover{
	opacity: .7
}
.go-top-btn img{
	width:100%;
}
.ftr-menu-con{
	max-width: 345px;
	margin: 0 auto;
}
.ftr-menu-con > ul > li{
	padding: 9px 0;
	border-bottom: 1px solid #fd8234;
}
.ftr-menu-con > ul > li:last-child{
	border-bottom: 0;
}
.ftr-menu-con > ul > li > a{
	color:#feddbf;
	font-size: 19px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: baseline;
}
.ftr-menu-con > ul > li.menu-item-has-children > a{
	position: relative;
}
.ftr-menu-con > ul > li.menu-item-has-children > a:after {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #feddbf;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.ftr-menu-con > ul > li.menu-item-has-children > a:after {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #feddbf;
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: -16px;
}
.ftr-menu-con > ul > li.menu-item-has-children > a.sub-menu-expend:after {
    content: "\f068";
}
.ftr-menu-con > ul > li.menu-item-has-children > ul {
	display: none;
	padding: 6px 0 12px;
}

.ftr-menu-con > ul > li.menu-item-has-children > ul > li{
   	padding: 4px 0
}

.ftr-menu-con > ul > li.menu-item-has-children > ul > li > a {
   	color:#feddbf;
	font-size: 15px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: baseline;
}













@media(max-width: 1199px){ 
	.ftr-col-wrp {
	    padding-left: 0;
	}
	.ftr-col-1 {
	    width: 26%;
	    padding: 10px 0 0;
	}
	.ftr-col-2 {
	    width: 34%;
	    padding: 30px 20px 0;
	}	
	.ftr-col-3 {
	    width: 40%;
	}
}

@media(max-width: 991px){
	.ftr-innr{
	    margin: 0 auto;
	    max-width: 550px;
	}
	.ftr-col-1,
	.ftr-col-2,	
	.ftr-col-3 {
	    width: 100%;
	    padding: 30px 0;
	}
	.ftr-col-wrp {
	    padding-bottom: 40px;
	}
	.ftr-col-1 p{
		margin-bottom: 0;
	}
	.ftr-head {
	    position: relative;
	    padding: 25px 0 35px;
	}
	.ftr-head h2 {
	    line-height: 35px;
	}
	.ftr-head h2 strong {
	    display: block;
	}
	.ftr-col-2 li a {
	    font-size: 40px;
	}
	.ftr-col:after{
		content: "";
		position: absolute;
		width:345px;
		height: 1px;
		background: #fff;
		bottom: 0;
		left:50%;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

}

@media(max-width: 767px){
	.ftr-head h2 {
	    line-height: 30px;
	}
}

@media(max-width: 639px){

}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}





