/**
Start header
*/
header.header{
	padding: 10px 0 0;
	border-bottom: 1px solid #eef1f7;
}

.home header.header{
	border-bottom: none;
}
header .hdr-lft-con{
	float: left;
	width: 20%;
}
header .logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	max-width: 240px;
	width: 100%;
}
header .hdr-top-contact {
    float: right;
    margin-top: -4px;
}
header .hdr-rgt-con{
	float: right;
	width: 80%;
}
header .hdr-address {
    padding-left: 13px;
    padding-top: 15px;
}
header .hdr-address a{
    display: block;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    font-family: 'OpenSans-LightItalic';
    color: #0e857b;
    text-decoration: none;
}
header .hdr-address a:hover{
	color: #fd6406;
}
header .hdr-address span a{
	color: #262626;
	font-family: 'OpenSans-Regular';
}
header .hdr-address span a:hover{
	color: #fd6507;
}
header .hdr-address span a:first-child:hover{
	color: #262626;
}
header .hdr-address-innr{
	float: right;
	position: relative;
}
header .hdr-address-innr:after {
    content: "";
    position: absolute;
    background: #dfe2e8;
    width: 1px;
    height: 24px;
    top: 23px;
}
header .hdr-contact {
    padding-right: 12px;
    float: left;
    text-align: center;
    padding-left: 45px;
    position: relative;
}
header .hdr-contact span {
    position: absolute;
    left: 0;
    bottom: 13px;
}
header .hdr-contact h6 {
    font-size: 16px;
    line-height: 18px;
    font-family: 'OpenSans-SemiboldItalic';
    font-style: italic;
    text-transform: uppercase;
    color: #0e857b;
    margin: 0;
}
header .contact-info a{
	display: block;
	font-size: 27px;
	line-height: 28px;
	color: #fd6406;
	font-family: 'OpenSans-LightItalic';
}
header .contact-info a:last-of-type{
	color: #0e857b;
}
header .contact-info a:hover{
	color: #0e857b;
}
header .contact-info a:last-of-type:hover{
	color: #fd6507;
}
header nav.main-nav {
    float: right;
    margin-top: 13px;
    margin-right: -22px;
}
header nav.main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
header nav.main-nav > ul{
	float: right;
}
header nav.main-nav > ul > li{
    float: left;
    font-size: 15px;
    line-height: 17px;
    font-family: "NunitoSans-Regular";
    -ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
    position: relative;
    padding-bottom: 20px;
}
header nav.main-nav > ul > li > a{
	display: inline-block;
	vertical-align: baseline;
	color:#414141;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	padding: 11px 21px 9px 23px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
nav.main-nav li.menu-item-has-children a{
	padding-right: 25px;
}
nav.main-nav > ul > li.menu-item-has-children.current-menu-item > a:after{
	color: #fff;
}
header nav.main-nav > ul > li a::before{
	content: "";
	position: absolute;
	background: url(../images/hdr-menu-hover.png);
	background: rgb(253,99,6); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(253,99,6,1) 0%, rgba(251,139,25,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(253,99,6,1) 0%,rgba(251,139,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(253,99,6,1) 0%,rgba(251,139,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6306', endColorstr='#fb8b19',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
	top: 0;
	left: 50%;
	bottom: 0;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	z-index: -1;
	width: 1px;
	transform: skewX(-20deg);
}
header nav.main-nav > ul > li a::before{
	opacity: 0;
	visibility: hidden;
}
header nav.main-nav > ul > li:hover a:before{
	left: 0;
	right: 0;
	opacity: 1;
	visibility: visible;
	width: 100%;
}
header nav.main-nav > ul > li.current-menu-item a::before{
	left: 0;
	right: 0;
	opacity: 1;
	visibility: visible;
	width: 100%;
}
nav.main-nav li.menu-item-has-children > ul.sub-menu  li a:before{
	content: none;
}
nav.main-nav li.menu-item-has-children:hover a:before{
	visibility: visible;
	opacity: 1;
}

/*
-------
Sub menu
-------
*/
nav.main-nav li.menu-item-has-children > ul.sub-menu {
    position: absolute;
    top: 100%;
    background: #f7fafc;
    width: 200px;
    left: 0;
    z-index: 999999;
    padding: 30px 20px 30px 20px;
    transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    border-top: 2px solid #0e857b;
    visibility: hidden;
    opacity: 0;
}

nav.main-nav li.menu-item-has-children:hover > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 9;
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition-delay: 0s, 0s, 0.3s;
    -ms-transition-delay: 0s, 0s, 0.3s;
    transition-delay: 0s, 0s, 0.3s;
}

nav.main-nav ul li.menu-item-has-children ul li a{
	display:block;
	color: inherit;
	padding: 10px;
}
nav.main-nav ul li.menu-item-has-children ul{
	padding: 10px 15px;
}
nav.main-nav ul li.menu-item-has-children ul li{
	padding: 5px 0;
	width: 100%;
	text-align: left;
	margin-bottom: 8px;
	text-transform: capitalize;
	position: relative;
}

nav.main-nav > ul > li.menu-item-has-children  > a{
	margin-bottom: 0;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children > a:after {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fd6406;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:after{
	content: "\f068";
	color:#fff;
}

nav.main-nav li.menu-item-has-children ul.sub-menu a:hover{
	color: #0e857b!important;
}

nav.main-nav li.menu-item-has-children ul.sub-menu a{
	padding: 2px 0;
	font-size: 15px;
	line-height: 16px;
	transition: none;
	color: #000;
	text-decoration: none;
}
nav.main-nav > ul > li:hover a{
	color: #fff;
}
nav.main-nav ul li.current-menu-item a{
	color: #fff;
}
nav.main-nav li.menu-item-has-children:hover a,
nav.main-nav li.menu-item-has-children ul.sub-menu a:hover{
	color:#fff;
}
/*nav.main-nav > ul > li.menu-item-has-children:hover > a{
	color: #0e857b;
}*/
nav.main-nav ul li.current-menu-item a{
	 font-family: "NunitoSans-Bold";
}

/*------ responsive nav ----*/
.nav-opener{
    cursor: pointer;
    float: left;
}
.nav-opener span{
	-webkit-transition:all .2s;	/* Chrome, Safari, Opera */
	-ms-transition:all .2s;	/* IE 9 */
	-moz-transition:all .2s; /* Standard syntax */
	transition:all .2s;	
}
.opener-inner{
	position: relative;
    width: 37px;
    height: 20px;
	float: left;
}
.opener-inner span{
	display: block;
	background: #0e857b;
	height: 3px;
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.opener-inner span:nth-child(2){
	top: 8px;
	width: 30px;
	background: #fd6607;
}
.opener-inner span:nth-child(3){
	top: 16px;
	width: 22px;
}


.menu-expend span:nth-child(1){
  position: absolute;
  top: 44%;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 0;
  width: 100%;
  background: #ff681d;
}
.menu-expend span:nth-child(2){
	opacity: 0;
}
.menu-expend span:nth-child(3){
	opacity: 0;
}
.menu-expend span:nth-child(4) {
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100%;
}

/*
-------------------
 Responsive css
-------------------
*/
@media(max-width: 1259px){
	header nav.main-nav{
		margin-right: 0;
	}
}

@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	header .hdr-lft-con {
	    float: left;
	    width: 25%;
	}
	header .hdr-rgt-con {
	    float: right;
	    width: 75%;
	}
	header nav.main-nav > ul > li > a{
	    padding: 11px 18px 9px;
	}

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	header.header {
	    padding: 20px 0 20px;
	    border-bottom: none;
	    position: relative;
	}
	header.header:after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: -10px;
		background: url(../images/xs-header-bg.png);
		background-repeat: no-repeat;
		width: 100%;
		height: 227px;
		background-position: center right;
	}
	header .hdr-lft-con {
	    float: left;
	    width: 100%;
	    text-align: center;
	    padding-bottom: 25px;
	}
	header .hdr-rgt-con {
	    width: 100%;
	}
	header .hdr-top-contact {
	    float: none;
	    margin-top: 0;
	}
	header .hdr-contact {
	    padding-right: 0;
	    float: none;
	    text-align: center;
	    display: table;
	    margin: 0 auto;
	}
	.contact-info{
		border-top: 1px solid#feddbf;
		border-bottom: 1px solid#feddbf;
		padding-top: 5px;
		padding-bottom: 15px;
	}
	header .contact-info a {
	    font-size: 44px;
	    line-height: 52px;
	}
	header .hdr-contact span {
	    bottom: 40px;
	}
	header .hdr-address-innr {
	    float: none;
	}
	header .hdr-address {
	    padding-left: 0;
	    text-align: center;
	}
	header .hdr-address a {
	    font-size: 18px;
	    line-height: 23px;
	    text-align: center;
	}
	header .hdr-address-innr:after{
		content: none;
	}
	header nav.main-nav {
	    float: none;
	    margin-top: 0;
	    margin-right: 0;
	}
	header nav.main-nav > ul {
	    float: none;
	}
	.nav-opener {
	    cursor: pointer;
	    float: none;
	    position: absolute;
	    top: 25px;
	    right: 40px;
	    z-index: 3;
	}
	.xs-popup-menu {
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    display: none;
	    z-index: 4;
	    background: rgba(255,255,255,1);
	    padding: 60px 40px 50px 40px !important;
	    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
	    -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
	    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15);
	}
	.xs-menu-close-btn-controller span {
	    position: absolute;
	    top: 25px;
	    right: 50px;
	}
	nav.xs-main-nav ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	nav.xs-main-nav li.menu-item-has-children > ul.sub-menu{
		padding-left: 0!important;
		padding-right: 0!important;
	}
	nav.xs-main-nav > ul > li{
		display: block;
		margin-right: 0 !important;
		margin-left: 0 !important;
		padding-bottom: 20px;
		float: none !important;
		text-align: center;
		font-family: "NunitoSans-Regular";
	}
	nav.xs-main-nav ul > li > a{
		color:#414141;
		padding-bottom: 10px !important;
		position: relative;
		text-transform: uppercase;
	}
	nav.xs-main-nav ul li.current-menu-item a{
		color: #0e857b;
	}
	nav.xs-main-nav > ul > li.menu-item-has-children:hover > a,
	nav.xs-main-nav ul li.current-menu-item a:hover,
	nav.xs-main-nav ul li a:hover{
		color: #0e857b;
	}
	

	header nav.xs-main-nav > ul > li::after,
	header nav.xs-main-nav > ul > li a::before {
		content: none;
	}
	nav.xs-main-nav > ul > li.menu-item-has-children > a:hover:after{
		content: none;
	}
	nav.xs-main-nav > ul > li.menu-item-has-children > a:after {
	    content: "\f067"!important;
	    position: absolute;
	    top: 4px;
	    right: -12px;
	    color: #fd6406;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    visibility: visible;
	    z-index: 5;
	    font-size: 10px;
	    line-height: 12px;
	}
	nav.xs-main-nav > ul > li.menu-item-has-children > a.sub-menu-expend:after{
		content: "\f068" !important;
	}
	nav.xs-main-nav li.menu-item-has-children > ul.sub-menu {
		position: static;
		top: 100%;
		width: 100%;
		left: 0;
		z-index: 20;
		top: 100%;
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
		border-top: 3px solid #f66d2a;
		visibility: visible;
		opacity: 1;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background: transparent;
		border: none;
		display: none;
		transition: none;
		padding-top: 20px;
	}
	.header nav.main-nav > ul > li:first-child a{
		border-bottom:none;
	}
	nav.xs-main-nav li.menu-item-has-children > ul.sub-menu li{
		text-align: center;
		font-family: "NunitoSans-Regular";
	}
	nav.xs-main-nav li.menu-item-has-children ul.sub-menu a {
	    font-size: 16px;
	    display: inline-block;
	    vertical-align: baseline;
	    padding-top: 10px;
	}
	nav.xs-main-nav li.menu-item-has-children.brands-menu ul.sub-menu a {
	    font-size: 14px;
	    line-height: 16px;
	    transition: none;
	}
	a.menu-expend-sub{
		color: #0e857b!important;
	}
	nav.xs-main-nav li.menu-item-has-children a.menu-expend-sub{
		padding-bottom: 10px;
	}

}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.hm-btm-grid-dsc h6 a br{
		display: none;
	}

}


@media(max-width: 479px){
	header .logo a {
	    max-width: 180px;
	    width: 100%;
	}
	header .contact-info a {
	    font-size: 35px;
	    line-height: 40px;
	}
	.hdr-address a br{
		display: none;
	}
	header .hdr-address a {
	    font-size: 15px;
	    line-height: 20px;
	}
	.xs-menu-close-btn-controller span {
	    right: 20px;
	}

}



@media(max-width: 359px){

}