/*
------------------
main-slider-sec-wrp
------------------
*/
.main-slider-sec-wrp{
	margin-top: 75px;
	background: url(../images/main-slider-sec-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	min-height: 515px;
	padding-top: 140px;
	position: relative;
}
.main-slide-item-dsc{
	max-width: 565px;
	width: 100%;
}
.main-slide-item-dsc h2{
	margin: 0;
	font-family: 'OpenSans-LightItalic';
	color: #0e857b;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.main-slide-item-dsc h2 span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'OpenSans-ExtraboldItalic';
	color: #fd6607;
}
.main-slide-item-dsc h1 {
    margin: 0;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    color: #414141;
    line-height: 47px;
    padding-bottom: 27px;
    margin-bottom: 3px;
    text-transform: uppercase;
    position: relative;
}
.main-slide-item-dsc h1:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/btm-border-img.png);
	background-repeat: no-repeat;
	background-size: 157px 19px;
	width: 157px;
	height: 19px;
}
.main-slide-item-dsc p{
    font-size: 18px;
    line-height: 28px;
    padding-right: 20px;
    text-align: left;
    margin-bottom: 16px;
}
.main-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 25px;
	line-height: 27px;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	padding: 16px 65px 17px 50px;
}
.main-slide-item-dsc a:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/main-slider-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: -1;
}
.main-slide-item-dsc a:after {
    content: "";
    position: absolute;
    right: 35px;
    top: 21px;
    bottom: 0;
    background: url(../images/main-slider-btn-angle.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    z-index: -1;
    width: 20px;
    height: 20px;
}
.hm-service-slider .hm-service-slide-item,
.main-slider .main-slide-item{
	display: none;
}
.hm-service-slider .hm-service-slide-item:first-child,
.main-slider .main-slide-item:first-child{
	display: block;
}
.hm-service-slider.slick-initialized .hm-service-slide-item,
.main-slider.slick-initialized .main-slide-item{
	display: block;
}
.main-slider .slick-dotted.slick-slider {
	margin-bottom: 0;
}

/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
.mainsliderarrows .leftArrow{
	position: absolute;
	left:25px;
	top: 63%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.mainsliderarrows .rightArrow{
	position: absolute;
	right:43px;
	top: 63%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.mainsliderarrows .leftArrow,
.mainsliderarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
}
.mainsliderarrows .rightArrow:hover,
.mainsliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
/*
-----------------------
hm-service-sec-wrp
-----------------------
*/
.hm-service-sec-wrp{
	padding-top: 40px;
	padding-bottom: 18px;
}
.section-hdr {
    padding-bottom: 30px;
    display: table;
    margin: 0 auto;
}
.section-hdr .sec-hdr-title {
    font-family: 'OpenSans-Italic';
    color: #0e857b;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-bottom: 8px;
}
.section-hdr .sec-hdr-title span{
	font-family: 'OpenSans-ExtraboldItalic';
}
.sec-hdr-title-divider {
    position: relative;
    margin-bottom: 10px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sec-hdr-title-divider span {
    width: 56px;
    display: inline-block;
    vertical-align: baseline;
}
.sec-hdr-title-divider::after,
.sec-hdr-title-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #eef1f7;
    height: 1px;
    width: 40%;
}
.sec-hdr-title-divider::after {
    left: 0;
}
.sec-hdr-title-divider::before {
    right: 0;
}
.section-hdr p{
	font-size: 18px;
	line-height: 20px;
}
.hm-service-slide-item{
	padding: 0 20px;
	width: 33.3333%;
	float: left; 
}
.hm-service-slide-item-dsc{
	position: relative;
	padding: 50px 10px 0 30px;
	min-height: 340px;
	line-height: 20px;
}
.hm-service-slide-item-dsc:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/service-box-img-hover.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}
.hm-service-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
}
.hm-service-slide-item-dsc h4 {
    margin: 0;
    color: #424242;
    line-height: 30px;
    font-family: "OpenSans-Bold";
    font-size: 26px;
    text-transform: capitalize;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 9px;
}
.hm-service-slide-item-dsc h4:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 105px;
	height: 1px;
	background: #fff;
}
.hm-service-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 11px;
	padding-right: 27px;
}
.hm-service-slide-item-dsc a:after {
    content: "";
    position: absolute;
    right: 9px;
    top: 5px;
    background: url(../images/small-angle-icon.png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    width: 13px;
    height: 13px;
}
.hm-service-slide-item-dsc p{
	min-height: 130px;
}
.hm-service-wrp{
	position: relative;
}
/*
-----------------------------
 Service Slider Next Prev css
------------------------------
*/
.sersliderarrows .leftArrow{
	position: absolute;
	left:-40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.sersliderarrows .rightArrow{
	position: absolute;
	right:-40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.sersliderarrows .leftArrow,
.sersliderarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
}
.sersliderarrows .rightArrow:hover,
.sersliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

/*
---------------------
 Pagination css
---------------------
*/
.hm-service-slider.slick-dotted.slick-slider {
    margin-bottom: 70px !important;
}
.hm-service-slider .slick-dots {
    bottom: -70px !important;
}
.hm-service-slider .hm-service-slide-item:focus{
	text-decoration: none;
	outline: none;
}

.hm-service-slider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.hm-service-slider .slick-dots li,
.hm-service-slider .slick-dots li button,
.hm-service-slider .slick-dots li button:before{
	width: 21px;
	height: 21px;
	padding: 0;
}
.hm-service-slider .slick-dots li button:before{
	content: "";
}
.hm-service-slider .slick-dots li.slick-active,
.hm-service-slider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
}

/*
---------------------
hm-campaign-grid-sec-wrp
---------------------
*/
.hm-campaign-grid-sec-wrp{
	background: url(../images/hm-campaign-grid-sec-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 55px;
}
.hm-campaign-grid-lft-con{
	width: 50%;
	float: left;
}
.hm-campaign-grid-rgt-con{
	width: 50%;
	float: right;
	padding-left: 15px;
}
.hm-campaign-grid-rgt-wrp{
	background: #fff;
	padding: 62px 20px 20px 35px;
	position: relative;
}
.hm-campaign-tp-head h3{
	margin: 0;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	color: #0e857b;
	margin-bottom: 5px;
	text-align: center;
}
.hm-campaign-tp-head h4{
	margin: 0;
	font-size: 31px;
	line-height: 33px;
	color: #fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
	text-transform: uppercase;
	text-align: center;
}
.hm-campaign-tp-head{
	padding-bottom: 30px;
}
.hm-campaign-tp-head span {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.opc-progress-bar-innr {
    max-width: 330px;
    width: 100%;
    display: table;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}
.opc-progress-bar-innr:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    max-width: 330px;
    width: 100%;
    height: 1px;
    background: #eef1f7;
}
.opc-progress-bar{
	float: left;
	width: 33.3333%;
}
.opc-progress-bar:last-of-type{
	float: right;
	width: 0;
}
.opc-progress-bar span {
    width: 30px;
    height: 30px;
    background: #eef1f7;
    display: inline-block;
    vertical-align: baseline;
    border-radius: 50px;
    font-size: 15px;
    line-height: 30px;
    color: #c7cad1;
    text-align: center;
    position: relative;
    z-index: 1;
}
.opc-progress-bar span.active{
	background: #0e857b;
	color: #fff;
}
.opc-progress-bar-dsc{
	text-align: center;
	font-size: 17px;
	line-height: 22px;
	padding-bottom: 15px;
}
.singup-form-fields{
	margin: 0 -5px;
	margin-bottom: 10px;
}
.singup-form-field{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.singup-form-field input[type="number"],
.singup-form-field input[type="text"]{
	width: 100%;
	height: 55px;
	background: #fbfbfb;
	padding: 15px 15px;
	font-family: 'OpenSans-Light';
	font-size: 16px;
	line-height: 18px;
}
.submit-btn{
	max-width: 278px;
	width: 100%;
	height: 58px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}
.submit-btn:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/submit-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: 0;
}
.submit-btn input[type="submit"] {
    width: 100%;
    height: 58px;
    background: transparent;
    position: relative;
    z-index: 1;
    color: #ffe4c8;
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    padding-right: 30px;
    background: url(../images/main-slider-btn-angle.png);
    background-repeat: no-repeat;
    background-position: top 19px right 35px;
}

.singup-form-field input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}


.singup-form-field input[type="number"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}
/*
------------------------------
hm-laboratory-content-sec-wrp
------------------------------
*/
.hm-laboratory-content-sec-wrp{
	padding-top: 35px;
	padding-bottom: 30px;
}
.hm-laboratory-dsc h3 {
    margin: 0;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    color: #0e857b;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 7px;
}
.hm-laboratory-dsc h3 span{
	display: block;
	color: #fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
}
.hm-laboratory-dsc h3:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/head-icon.png);
	background-repeat: no-repeat;
	background-size: 157px 19px;
	width: 100%;
	max-width: 157px;
	height: 19px;
}
.hm-laboratory-dsc h6{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	color: #0e857b;
	font-family: 'OpenSans-Semibold';
	margin-top: 28px;
	margin-bottom: 30px;
}
.hm-laboratory-dsc ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}
.hm-laboratory-dsc ul li{
	font-size: 16px;
	line-height: 18px;
	padding-left: 30px;
	background: url(../images/thik-icon.png);
	background-repeat: no-repeat;
	background-size: 17px 17px;
	padding-bottom: 15px;
}
.hm-laboratory-btn{
	padding-left: 15px;
}
.hm-laboratory-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #ffe4c8;
}

