/*
------------------
main-slider-sec-wrp
------------------
*/
.main-slider-sec-wrp{
	margin-top: 75px;
	background: url(../images/main-slider-sec-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	min-height: 515px;
	padding-top: 140px;
	position: relative;
}
.main-slide-item-dsc{
	max-width: 565px;
	width: 100%;
}
.main-slide-item-dsc h2{
	margin: 0;
	font-family: 'OpenSans-LightItalic';
	color: #0e857b;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.main-slide-item-dsc h2 span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'OpenSans-ExtraboldItalic';
	color: #fd6607;
}
.main-slide-item-dsc h1 {
    margin: 0;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    color: #414141;
    line-height: 47px;
    padding-bottom: 27px;
    margin-bottom: 3px;
    text-transform: uppercase;
    position: relative;
}
.main-slide-item-dsc h1:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/btm-border-img.png);
	background-repeat: no-repeat;
	background-size: 157px 19px;
	width: 157px;
	height: 19px;
}
.main-slide-item-dsc p{
    font-size: 18px;
    line-height: 28px;
    padding-right: 20px;
    text-align: left;
    margin-bottom: 16px;
}
.main-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 25px;
	line-height: 27px;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	padding: 16px 65px 17px 50px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.main-slide-item-dsc a:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/main-slider-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: -1;
}
.main-slide-item-dsc a:after{
    content: "";
    position: absolute;
    right: 35px;
    top: 21px;
    bottom: 0;
    background: url(../images/main-slider-btn-angle.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    z-index: -1;
    width: 20px;
    height: 20px;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.main-slide-item-dsc a:hover:after{
	background: url(../images/main-slider-btn-angle-hover.png);
}
.main-slide-item-dsc a:hover{
	color: #0e857b;
}
.hm-service-slider .hm-service-slide-item,
.main-slider .main-slide-item{
	display: none !important;
}
.hm-service-slider .hm-service-slide-item:first-child,
.main-slider .main-slide-item:first-child{
	display: block !important;
}
.hm-service-slider.slick-initialized .hm-service-slide-item,
.main-slider.slick-initialized .main-slide-item{
	display: block !important;
}
.main-slider .slick-dotted.slick-slider {
	margin-bottom: 0;
}
.main-slider-center .main-slide-item-dsc{
	max-width: 565px;
    width: 100%;
	text-align: center;
	margin: 0 auto;
}
.main-slider-center .main-slide-item-dsc h1:after {
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.main-slider-right .main-slide-item-dsc{
	max-width: 565px;
    width: 100%;
	text-align: right;
	float: right;
}
.main-slider-right .main-slide-item-dsc h1:after {
    right: 0 !important;
    left: auto;
}
.main-slider-right .main-slide-item-dsc p{
	text-align: right;
}

/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
.mainsliderarrows .leftArrow{
	position: absolute;
	left:25px;
	top: 63%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.mainsliderarrows .rightArrow{
	position: absolute;
	right:43px;
	top: 63%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.mainsliderarrows .leftArrow,
.mainsliderarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
	opacity: .5;
}
.mainsliderarrows .rightArrow:hover,
.mainsliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 1;
}
/*
-----------------------
hm-service-sec-wrp
-----------------------
*/
.hm-service-sec-wrp{
	padding-top: 40px;
	padding-bottom: 18px;
}
.section-hdr {
    padding-bottom: 30px;
    display: table;
    margin: 0 auto;
}
.hm-brand-logo-wrp .section-hdr {
    padding-bottom: 5px;
}
.hm-btm-grid-sec-wrp .sec-hdr-title-divider {
    margin-bottom: 2px;
}
.section-hdr .sec-hdr-title {
    font-family: 'OpenSans-Italic';
    color: #0e857b;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-bottom: 8px;
}
.section-hdr .sec-hdr-title span{
	font-family: 'OpenSans-ExtraboldItalic';
}
.sec-hdr-title-divider {
    position: relative;
    margin-bottom: 10px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sec-hdr-title-divider span {
    width: 56px;
    display: inline-block;
    vertical-align: baseline;
}
.sec-hdr-title-divider::after,
.sec-hdr-title-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #eef1f7;
    height: 1px;
    width: 40%;
}
.sec-hdr-title-divider::after {
    left: 0;
}
.sec-hdr-title-divider::before {
    right: 0;
}
.section-hdr p{
	font-size: 18px;
	line-height: 20px;
}
.hm-service-slide-item{
	padding: 0 20px;
	width: 33.3333%;
	float: left; 
}
.hm-service-slide-item-dsc {
    position: relative;
    padding: 50px 0px 65px 20px;
    min-height: 340px;
    line-height: 20px;
}
.hm-service-slide-item-dsc:hover h4,
.hm-service-slide-item-dsc:hover{
	color: #fff;
}
.hm-service-slide-item-hover{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background: url(../images/service-box-img-hover.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: -1;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-service-slide-item-dsc:hover .hm-service-slide-item-hover{
	width: 100%;
}
.hm-service-slide-item-dsc:hover a{
	opacity: 1;
	z-index: 1;
}
.hm-service-slide-item-dsc span:last-of-type{
	display: none;
}
.hm-service-slide-item-dsc:hover span:last-of-type{
	display: block;
}
.hm-service-slide-item-dsc:hover span:first-of-type{
	display: none;
}
.hm-service-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
}
.hm-service-slide-item-dsc h4 {
    margin: 0;
    color: #424242;
    line-height: 30px;
    font-family: "OpenSans-Bold";
    font-size: 26px;
    text-transform: capitalize;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 9px;
}
.hm-service-slide-item-dsc h4:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 105px;
	height: 1px;
	background: #fff;
}
.hm-service-slide-item-dsc a{
	text-decoration: none;
	font-size: 20px;
	line-height: 22px;
	color: #ffe4c8;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	position: absolute;
	right: 2px;
	bottom: 11px;
	padding-right: 27px;
	opacity: 0;
	z-index: -20;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.hm-service-slide-item-dsc a:after {
    content: "";
    position: absolute;
    right: 9px;
    top: 5px;
    background: url(../images/small-angle-icon.png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    width: 13px;
    height: 13px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.hm-service-slide-item-dsc a:hover{
	color: #0e857b;
}
.hm-service-slide-item-dsc a:hover:after{
	background: url(../images/small-angle-icon-hover.png);
}
.hm-service-slide-item-dsc p{
	min-height: 130px;
}
.hm-service-wrp {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
/*
-----------------------------
 Service Slider Next Prev css
------------------------------
*/
.HmBrandLogoarrows .leftArrow,
.hmgirdarrows .leftArrow,
.sersliderarrows .leftArrow{
	position: absolute;
	left:-40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.HmBrandLogoarrows .rightArrow,
.hmgirdarrows .rightArrow,
.sersliderarrows .rightArrow{
	position: absolute;
	right:-40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.HmBrandLogoarrows .leftArrow{
	left: -20px;
}
.HmBrandLogoarrows .rightArrow{
	right: -20px;
}
.HmBrandLogoarrows .leftArrow,
.HmBrandLogoarrows .rightArrow,
.hmgirdarrows .leftArrow,
.hmgirdarrows .rightArrow,
.sersliderarrows .leftArrow,
.sersliderarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
	opacity: .5;
}
.HmBrandLogoarrows .rightArrow:hover,
.HmBrandLogoarrows .leftArrow:hover,
.hmgirdarrows .rightArrow:hover,
.hmgirdarrows .leftArrow:hover,
.sersliderarrows .rightArrow:hover,
.sersliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 1;
}

/*
---------------------
 Pagination css
---------------------
*/
.hm-service-slider.slick-dotted.slick-slider {
    margin-bottom: 70px !important;
}
.hm-service-slider .slick-dots {
    bottom: -70px !important;
}
.hm-service-slider .hm-service-slide-item:focus{
	text-decoration: none;
	outline: none;
}

.hm-service-slider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.hm-service-slider .slick-dots li,
.hm-service-slider .slick-dots li button,
.hm-service-slider .slick-dots li button:before{
	width: 21px;
	height: 21px;
	padding: 0;
}
.hm-service-slider .slick-dots li button:before{
	content: "";
}
.hm-service-slider .slick-dots li.slick-active,
.hm-service-slider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
}

/*
---------------------
hm-campaign-grid-sec-wrp
---------------------
*/
.hm-campaign-grid-sec-wrp{
	background: url(../images/hm-campaign-grid-sec-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 55px;
}
.hm-campaign-grid-lft-con{
	width: 50%;
	float: left;
}
.hm-campaign-grid-rgt-con {
    width: 50%;
    float: right;
    padding-left: 15px;
    padding-bottom: 25px;
}
.hm-campaign-grid-rgt-wrp{
	background: #fff;
	padding: 62px 20px 20px 35px;
	position: relative;
}
.hm-campaign-tp-head h3{
	margin: 0;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	color: #0e857b;
	margin-bottom: 5px;
	text-align: center;
}
.hm-campaign-tp-head h4{
	margin: 0;
	font-size: 31px;
	line-height: 33px;
	color: #fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
	text-transform: uppercase;
	text-align: center;
}
.hm-campaign-tp-head{
	padding-bottom: 30px;
}
.hm-campaign-tp-head span {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.opc-progress-bar-innr {
    max-width: 330px;
    width: 100%;
    display: table;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}
.opc-progress-bar-innr:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    max-width: 330px;
    width: 100%;
    height: 1px;
    background: #eef1f7;
}
.opc-progress-bar{
	float: left;
	width: 33.3333%;
}
.opc-progress-bar:last-of-type{
	float: right;
	width: 0;
}
.opc-progress-bar span {
    width: 30px;
    height: 30px;
    background: #eef1f7;
    display: inline-block;
    vertical-align: baseline;
    border-radius: 50px;
    font-size: 15px;
    line-height: 30px;
    color: #c7cad1;
    text-align: center;
    position: relative;
    z-index: 1;
}
.opc-progress-bar span.active{
	background: #0e857b;
	color: #fff;
}
.opc-progress-bar-dsc{
	text-align: center;
	font-size: 17px;
	line-height: 22px;
	padding-bottom: 15px;
}
.singup-form-fields{
	margin: 0 -5px;
	margin-bottom: 10px;
}
.singup-form-field{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.singup-form-field input[type="number"],
.singup-form-field input[type="text"]{
	width: 100%;
	height: 55px;
	background: #fbfbfb;
	padding: 15px 15px;
	font-family: 'OpenSans-Light';
	font-size: 16px;
	line-height: 18px;
}
.submit-btn{
	max-width: 278px;
	width: 100%;
	height: 58px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}
.submit-btn:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/submit-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: 0;
}
.submit-btn input[type="submit"] {
    width: 100%;
    height: 58px;
    background: transparent;
    position: relative;
    z-index: 1;
    color: #ffe4c8;
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    padding-right: 30px;
    background: url(../images/main-slider-btn-angle.png);
    background-repeat: no-repeat;
    background-position: top 19px right 35px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.submit-btn input[type="submit"]:hover{
	color: #0e857b;
	background: url(../images/main-slider-btn-angle-hover.png);
	background-repeat: no-repeat;
	background-position: top 19px right 35px;
}

.singup-form-field input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}


.singup-form-field input[type="number"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}
/*
------------------------------
hm-laboratory-content-sec-wrp
------------------------------
*/
.hm-laboratory-content-sec-wrp {
    padding-top: 50px;
    padding-bottom: 30px;
}
.hm-laboratory-img img{
	display: inline-block;
	vertical-align: baseline;
}
.hm-laboratory-img{
	float: right;
}
.hm-laboratory-dsc h3 {
    margin: 0;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    color: #0e857b;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 7px;
}
.hm-laboratory-dsc h3 span{
	display: block;
	color: #fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
}
.hm-laboratory-dsc h3:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/head-icon.png);
	background-repeat: no-repeat;
	background-size: 157px 19px;
	width: 100%;
	max-width: 157px;
	height: 19px;
}
.hm-laboratory-dsc h6 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    color: #0e857b;
    font-family: 'OpenSans-Semibold';
    margin-top: 32px;
    margin-bottom: 32px;
    text-transform: uppercase;
}
.hm-laboratory-dsc > ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}
.hm-laboratory-dsc > ul > li{
	font-size: 16px;
	line-height: 18px;
	padding-left: 30px;
	background: url(../images/thik-icon.png);
	background-repeat: no-repeat;
	background-size: 17px 17px;
	padding-bottom: 15px;
}
.hm-laboratory-btn{
	padding-left: 15px;
	padding-top: 20px;
}
.hm-laboratory-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #ffe4c8;
	font-size: 18px;
	line-height: 20px;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-laboratory-btn a.ornage-btn{
	max-width: 205px;
	width: 100%;
	height: 45px;
	padding: 12px 45px 12px 25px;
}
.hm-laboratory-btn a.green-btn{
	max-width: 185px;
	width: 100%;
	height: 45px;
	padding: 12px 45px 12px 25px;
	color: #cae5e3;
	margin-left: 10px;
}
.hm-laboratory-btn a.green-btn:before,
.hm-laboratory-btn a.ornage-btn:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/ornage-btn-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: -1;
}
.hm-laboratory-btn a.green-btn:before{
	background: url(../images/green-btn-bg.png);
}
.hm-laboratory-btn a.green-btn:after,
.hm-laboratory-btn a.ornage-btn:after {
    content: "";
    position: absolute;
    right: 24px;
    top: 16px;
    background: url(../images/ornage-btn-angle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hm-laboratory-btn a.green-btn:after{
	background: url(../images/green-btn-angle.png);
}
.hm-laboratory-btn a.ornage-btn:hover{
	color: #0e857b;
}
.hm-laboratory-btn a.ornage-btn:hover:after{
	background: url(../images/ornage-btn-angle-hover.png);
}
.hm-laboratory-btn a.green-btn:hover{
	color: #fd6406;
}
.hm-laboratory-btn a.green-btn:hover:after{
	background: url(../images/green-btn-angle-hover.png);
}

/*
-----------------------------
 Service Slider Next Prev css
------------------------------
*/
.laboratoryarrows .leftArrow{
	position: absolute;
	left:-40px;
	top: 42%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.laboratoryarrows .rightArrow{
	position: absolute;
	right:-40px;
	top: 42%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.laboratoryarrows .leftArrow,
.laboratoryarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
	opacity: .5;
}
.laboratoryarrows .rightArrow:hover,
.laboratoryarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	opacity: 1;
}


/*
----------------
 Pagination Css
----------------
*/
.HmbtmGridSlider .slick-dots li,
.hm-laboratory-slider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.HmbtmGridSlider .slick-dots li,
.HmbtmGridSlider .slick-dots li button,
.HmbtmGridSlider .slick-dots li button:before,
.hm-laboratory-slider .slick-dots li,
.hm-laboratory-slider .slick-dots li button,
.hm-laboratory-slider .slick-dots li button:before{
	width: 21px;
	height: 21px;
	padding: 0;
}
.HmbtmGridSlider .slick-dots li button:before,
.hm-laboratory-slider .slick-dots li button:before{
	content: "";
}
.HmbtmGridSlider .slick-dots li.slick-active,
.HmbtmGridSlider .slick-dots li:hover,
.hm-laboratory-slider .slick-dots li.slick-active,
.hm-laboratory-slider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
}
.hm-brand-logo-sec-wrp {
    background: #fafbfc;
    padding-top: 30px;
    padding-bottom: 35px;
}
.hm-brand-logo{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}
.hm-brand-logo ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.hm-brand-logo ul li img{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
}
/*
---------------------
hm-btm-grid-sec-wrp
---------------------
*/
.hm-btm-grid-sec-wrp {
    padding-top: 30px;
    padding-bottom: 50px;
}
.HmbtmGridSlider.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.hm-btm-grid-sec-wrp .section-hdr{
	padding-bottom: 0;
}
.hm-btm-grid-sec-wrp .section-hdr p{
	line-height: 25px;
	text-align: center;
}
.HmbtmGridSlider .slick-dots{
	bottom: -30px;
}
.HmbtmGridSlide-item{
	padding: 0 10px;
}
.hm-btm-grid-img{
	text-align: center;
}
.hm-btm-grid-img img{
	display: inline-block;
	vertical-align: baseline;
}
.hm-btm-grid-dsc-inr {
    background: #fafbfc;
    padding: 24px 24px 24px 24px;
    position: relative;
    margin-bottom: 25px;
}
.hm-btm-grid-dsc{
	text-align: center;
}
.hm-btm-grid-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	font-family: "OpenSans-BoldItalic";
	position: relative;
	max-width: 83px;
	width: 100%;
	height: 26px;
	z-index: 1;
	padding-top: 5px;
	text-transform: uppercase;
	top: -15px;
}
.hm-btm-grid-dsc strong:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/date-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.hm-btm-grid-dsc h6{
	font-size: 18px;
	line-height: 26px;
	color: #0e857b;
	font-family: 'OpenSans-SemiboldItalic';
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.hm-btm-grid-dsc-btn{
	border-bottom: 2px solid#fa6405;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.hm-btm-grid-dsc-btn a{
	display:block;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-family: "OpenSans-BoldItalic";
	text-transform: uppercase;
	max-width: 135px;
	width: 100%;
	height: 38px;
	position: relative;
	z-index: 1;
	text-align: center;
	padding-top: 11px;
	margin: 0 auto;
	margin-bottom: -20px;
}
.hm-btm-grid-dsc-btn a:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: url(../images/hm-btm-grid-dsc-btn-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.hm-btm-grid-orange .hm-btm-grid-dsc-btn a:after{
	background: url(../images/green-grid-btn-bg.png);
}
.hm-btm-grid-orange h6{
	color: #fa6405;
}
.hm-btm-grid-orange .hm-btm-grid-dsc-btn{
	border-bottom: 2px solid #0e857b;
}

@media(max-width: 1299px){
	.laboratoryarrows .leftArrow{
		left: 10px;
	}
	.laboratoryarrows .rightArrow{
		right: 10px;
	}
	.HmBrandLogoarrows .leftArrow,
	.hmgirdarrows .leftArrow,
	.sersliderarrows .leftArrow{
		left: 10px;
	}
	.HmBrandLogoarrows .rightArrow,
	.hmgirdarrows .rightArrow,
	.sersliderarrows .rightArrow{
		right: 10px;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.opc-progress-bar-dsc p br{
		display: none;
	}
	.hm-btm-grid-dsc h6 br{
		display: none;
	}

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.main-slider-sec-wrp {
	    margin-top: 310px;
	}
	.hm-campaign-grid-sec-wrp{
		padding-top: 75px;
	}
	.hm-campaign-grid-rgt-con {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	    max-width: 500px;
	    margin: 0 auto;
	}
	.hm-campaign-grid-rgt-wrp {
	    padding: 62px 20px 20px 20px;
	}
	.pull-right {
	    float: none !important;
	}
	.hm-laboratory-img {
	    float: none;
	    text-align: center;
	    padding-bottom: 30px;
	    padding-top: 25px;
	}
	.laboratoryarrows .leftArrow {
	    display: none !important;
	}
	.laboratoryarrows .rightArrow {
	    display: none !important;
	}
	.hm-laboratory-dsc h3 {
	    max-width: 400px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.hm-laboratory-dsc h3:after{
		left: 50%;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.hm-laboratory-content-sec-wrp {
	    padding-top: 40px;
	    padding-bottom: 45px;
	}
	.hm-laboratory-dsc p br{
		display: none;
	}
	.hm-laboratory-dsc ul > li > br{
		display: none;
	}
	.hm-laboratory-dsc{
		max-width: 480px;
		width: 100%;
		margin: 0 auto;
	}
	.hm-laboratory-dsc p{
		text-align: center;
	}
	.hm-laboratory-btn {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	.hm-brand-logo {
	    max-width: 650px;
	    width: 100%;
	    margin: 0 auto;
	}
	.hm-brand-logo-sec-wrp {
	    padding-bottom: 55px;
	}
	.HmBrandLogoarrows .leftArrow{
		display: none !important;
	}
	.HmBrandLogoarrows .rightArrow{
		display: none !important;
	}
	.hm-brand-logo {
	    text-align: center;
	}
	/*
	----------------
	 Pagination Css
	----------------
	*/
	#HmBrandLogoSlider .slick-dots {
	    bottom: -50px;
	}
	#HmBrandLogoSlider .slick-dots li{
		background-image: url(../images/sky-pagi.png);
		background-size: 7px 7px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
	}
	#HmBrandLogoSlider .slick-dots li,
	#HmBrandLogoSlider .slick-dots li button,
	#HmBrandLogoSlider .slick-dots li button:before{
		width: 21px;
		height: 21px;
		padding: 0;
	}
	#HmBrandLogoSlider .slick-dots li button:before{
		content: "";
	}
	#HmBrandLogoSlider .slick-dots li.slick-active,
	#HmBrandLogoSlider .slick-dots li:hover{
		background-image: url(../images/yellow-pegi.png);
		background-size: 21px 21px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.hm-btm-grid-sec-wrp {
	    padding-top: 40px;
	}
	.hm-btm-grid-sec-wrp .sec-hdr-title-divider {
	    margin-bottom: 30px;
	}
	.hm-btm-grid-sec-wrp .section-hdr {
	    padding-bottom: 20px;
	    max-width: 550px;
		width: 100%;
		margin: 0 auto;
	}
	.hm-btm-grid-sec-wrp .section-hdr p br{
		display: none;
	}
	.hm-service-slide-item-dsc {
	    padding: 35px 0px 65px 20px;
	}
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.main-slider-sec-wrp {
	    min-height: 270px;
	    margin-top: -55px;
	    padding-top: 0;
	}
	header.header {
	    position: static;
	}
	.xs-main-slider-sec-wrp{
		background: url(../images/xs-main-slider-sec-bg.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		padding: 20px 0 55px;
	}
	.main-slider .slick-dots {
	    bottom: -65px;
	}
	.main-slider .slick-dots li{
		background-image: url(../images/sky-pagi.png);
		background-size: 7px 7px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
	}
	.main-slider .slick-dots li,
	.main-slider .slick-dots li button,
	.main-slider .slick-dots li button:before{
		width: 21px;
		height: 21px;
		padding: 0;
	}
	.main-slider .slick-dots li button:before{
		content: "";
	}
	.main-slider .slick-dots li.slick-active,
	.main-slider .slick-dots li:hover{
		background-image: url(../images/yellow-pegi.png);
		background-size: 21px 21px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.main-slide-item-dsc {
	    max-width: 565px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.main-slide-item-dsc p {
	    padding-right: 0;
	    text-align: center;
	}
	.main-slide-item-dsc h1:after{
		left: 50%;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background:url(../images/main-slider-bdr-xs.png);
		background-repeat: no-repeat;
		background-size: 278px 19px;
    	width: 278px;
    	height: 19px;
	}
	.hm-brand-logo {
	    max-width: 350px;
	    width: 100%;
	    margin: 0 auto;
	}
	.section-hdr .sec-hdr-title span {
	    display: block;
	}
	.hm-service-slide-item-dsc {
	    padding: 35px 20px 65px 20px;
	    max-width: 350px;
	    width: 100%;
	    height: 380px;
	    margin: 0 auto;
	    text-align: center;
	}
	.hm-service-slide-item-dsc h4 br{
		display: none;
	}
	.hm-service-slider .slick-dots {
	    bottom: -46px !important;
	}
	.hm-service-sec-wrp {
	    padding-top: 35px;
	    padding-bottom: 32px;
	}
	.hm-service-slide-item-dsc:hover span:last-of-type {
	    max-width: 50px;
	    width: 100%;
	    margin: 0 auto;
	}
	.hm-service-slide-item-dsc h4:after{
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.section-hdr p {
	    font-size: 18px;
	    line-height: 20px;
	    text-align: center;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.singup-form-field {
	    float: left;
	    width: 100%;
	    padding: 0;
	    margin-bottom: 10px;
	}
	.singup-form-fields {
	    margin: 0;
	    margin-bottom: 0;
	}
	.hm-campaign-tp-head h4{
		font-size: 30px;
		line-height: 32px;
	}
	.hm-campaign-tp-head {
	    padding-bottom: 25px;
	}
	.submit-btn {
	    margin-top: 20px;
	}
	.hm-campaign-grid-rgt-con {
	    padding-bottom: 30px;
	}
	.opc-progress-bar:last-of-type {
	    width: 8%;
	}
	.opc-progress-bar {
	    width: 30%;
	}
	.sersliderarrows .leftArrow {
	    left: -10px;
	}
    .sersliderarrows .rightArrow {
	    right: -10px;
	}
	.sersliderarrows .leftArrow,
	.sersliderarrows .rightArrow {
	    height: 35px;
	    width: 35px;
	    font-size: 25px;
	    line-height: 22px;
	}
	.hm-btm-grid-dsc-inr {
	    max-width: 265px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}

}


@media(max-width: 479px){
	.hm-campaign-tp-head h4 {
	    font-size: 27px;
	    line-height: 30px;
	}
	.opc-progress-bar:last-of-type {
	    width: 10%;
	}
	.hm-laboratory-btn {
	    padding-top: 20px;
	    padding-bottom: 15px;
	    padding-left: 0;
	    text-align: center;
	}
	.hm-laboratory-btn a.ornage-btn {
	    margin-bottom: 10px;
	}
	.hm-service-slide-item {
	    padding: 0;
	}
	.hm-service-slide-item-dsc {
	    padding: 35px 10px 65px 10px;
	}
	.hm-service-slide-item-dsc a {
	    font-size: 16px;
	    line-height: 18px;
	    right: -2px;
	    bottom: 11px;
	    padding-right: 25px;
	}
	.hm-service-slide-item-dsc a:after {
	    right: 7px;
	    top: 2px;
	}
	.hm-service-wrp {
	    padding-left: 0;
	    padding-right: 0;
	}
	.HmBrandLogoarrows .leftArrow,
	.HmBrandLogoarrows .rightArrow,
	.hmgirdarrows .leftArrow,
	.hmgirdarrows .rightArrow,
	.sersliderarrows .leftArrow,
	.sersliderarrows .rightArrow {
	    height: 35px;
	    width: 35px;
	    font-size: 25px;
	    line-height: 22px;
	}

}



@media(max-width: 359px){

}



