/*
------------------
main-slider-sec-wrp
------------------
*/
.main-slider-sec-wrp{
	position: relative;
}
.main-slide-item{
	min-height: 440px !important;
	border-top: 3px solid #eef1f7;
	border-bottom: 3px solid #eef1f7;
	padding: 60px 0 70px;
	position: relative;
}
.main-slide-item-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center right !important;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.main-slide-item-dsc{
	max-width: 565px;
	width: 100%;
}
.main-slide-item-dsc h1 span{
	margin: 0;
	font-family: 'OpenSans-LightItalic';
	color: #0e857b;
	text-transform: uppercase;
	font-size: 35px;
	display: block;
}
.main-slide-item-dsc h1 strong{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'OpenSans-ExtraboldItalic';
	color: #fd6607;
}
.main-slide-item-dsc h1 {
    margin: 0;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    color: #414141;
    line-height: 49px;
    padding-bottom: 27px;
    margin-bottom: 3px;
    text-transform: uppercase;
    position: relative;
}
.main-slide-item-dsc h1:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/btm-border-img.png);
	background-repeat: no-repeat;
	background-size: 157px 19px;
	width: 157px;
	height: 19px;
}
.main-slide-item-dsc p{
    font-size: 18px;
    line-height: 28px;
    padding-right: 20px;
    text-align: justify;
    margin-bottom: 16px;
}
.main-slide-item-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 25px;
	line-height: 27px;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	padding: 16px 65px 17px 50px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-radius: 67px;
	border: 4px solid #ffefe3;

background: rgba(253,102,8,1);
background: -moz-linear-gradient(left, rgba(253,102,8,1) 0%, rgba(253,102,8,0.95) 39%, rgba(253,102,8,0.93) 51%, rgba(253,102,8,0.92) 63%, rgba(253,102,8,0.9) 76%, rgba(253,102,8,0.9) 77%, rgba(253,102,8,0.9) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,102,8,1)), color-stop(39%, rgba(253,102,8,0.95)), color-stop(51%, rgba(253,102,8,0.93)), color-stop(63%, rgba(253,102,8,0.92)), color-stop(76%, rgba(253,102,8,0.9)), color-stop(77%, rgba(253,102,8,0.9)), color-stop(100%, rgba(253,102,8,0.9)));
background: -webkit-linear-gradient(left, rgba(253,102,8,1) 0%, rgba(253,102,8,0.95) 39%, rgba(253,102,8,0.93) 51%, rgba(253,102,8,0.92) 63%, rgba(253,102,8,0.9) 76%, rgba(253,102,8,0.9) 77%, rgba(253,102,8,0.9) 100%);
background: -o-linear-gradient(left, rgba(253,102,8,1) 0%, rgba(253,102,8,0.95) 39%, rgba(253,102,8,0.93) 51%, rgba(253,102,8,0.92) 63%, rgba(253,102,8,0.9) 76%, rgba(253,102,8,0.9) 77%, rgba(253,102,8,0.9) 100%);
background: -ms-linear-gradient(left, rgba(253,102,8,1) 0%, rgba(253,102,8,0.95) 39%, rgba(253,102,8,0.93) 51%, rgba(253,102,8,0.92) 63%, rgba(253,102,8,0.9) 76%, rgba(253,102,8,0.9) 77%, rgba(253,102,8,0.9) 100%);
background: linear-gradient(to right, rgba(253,102,8,1) 0%, rgba(253,102,8,0.95) 39%, rgba(253,102,8,0.93) 51%, rgba(253,102,8,0.92) 63%, rgba(253,102,8,0.9) 76%, rgba(253,102,8,0.9) 77%, rgba(253,102,8,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6608', endColorstr='#fd6608', GradientType=1 );
}
/*.main-slide-item-dsc a:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/main-slider-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: -1;
}
*/
.main-slide-item-dsc a:after{
    content: "";
    position: absolute;
    right: 35px;
    top: 21px;
    bottom: 0;
    background: url(../images/main-slider-btn-angle.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    z-index: -1;
    width: 20px;
    height: 20px;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.main-slide-item-dsc a:hover:after{
	background: url(../images/main-slider-btn-angle-hover.png);
}
.main-slide-item-dsc a:hover{
	color: #0e857b;
}
.hm-service-slider .hm-service-slide-item,
.main-slider .main-slide-item{
	display: none !important;
}
.hm-service-slider .hm-service-slide-item:first-child,
.main-slider .main-slide-item:first-child{
	display: block !important;
}
.hm-service-slider.slick-initialized .hm-service-slide-item,
.main-slider.slick-initialized .main-slide-item{
	display: block !important;
}
.main-slider .slick-dotted.slick-slider {
	margin-bottom: 0;
}
.main-slider-center .main-slide-item-dsc{
	max-width: 565px;
    width: 100%;
	text-align: center;
	margin: 0 auto;
}
.main-slider-center .main-slide-item-dsc h1:after{
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.main-slider-right .main-slide-item-dsc{
	max-width: 565px;
    width: 100%;
	text-align: right;
	float: right;
}
.main-slider-right .main-slide-item-dsc h1:after{
    right: 0 !important;
    left: auto;
}
.main-slider-right .main-slide-item-dsc p{
	text-align: right;
}


.main-slider .slick-dots {
    bottom: 25px;
}
.main-slider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.main-slider .slick-dots li,
.main-slider .slick-dots li button,
.main-slider .slick-dots li button:before{
	width: 21px;
	height: 21px;
	padding: 0;
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
.main-slider .slick-dots li button:before{
	content: "";
}
.main-slider .slick-dots li.slick-active,
.main-slider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
.main-slider .slick-dots{
	max-width: 1170px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);

}

/*
-----------------------------
 Main Slider Next Prev css
------------------------------
*/
.mainsliderarrows .leftArrow{
	position: absolute;
	left:25px;
	top: 55%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.mainsliderarrows .rightArrow{
	position: absolute;
	right:25px;
	top: 55%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.mainsliderarrows .leftArrow,
.mainsliderarrows .rightArrow{
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
	opacity: .5;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.mainsliderarrows .rightArrow:hover,
.mainsliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	opacity: 1;
}


/*
-----------------------
hm-service-sec-wrp
-----------------------
*/
.hm-service-sec-wrp{
	padding-top: 40px;
	padding-bottom: 18px;
}
.section-hdr {
    padding-bottom: 30px;
    display: table;
    margin: 0 auto;
}
.hm-brand-logo-wrp .section-hdr {
    padding-bottom: 5px;
}
.hm-btm-grid-sec-wrp .sec-hdr-title-divider {
    margin-bottom: 2px;
}
.section-hdr .sec-hdr-title {
    font-family: 'OpenSans-Italic';
    color: #0e857b;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-bottom: 8px;
}
.section-hdr .sec-hdr-title span{
	font-family: 'OpenSans-ExtraboldItalic';
}
.sec-hdr-title-divider {
    position: relative;
    margin-bottom: 10px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sec-hdr-title-divider span {
    width: 56px;
    display: inline-block;
    vertical-align: baseline;
}
.sec-hdr-title-divider::after,
.sec-hdr-title-divider::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #eef1f7;
    height: 1px;
    width: 40%;
}
.sec-hdr-title-divider::after {
    left: 0;
}
.sec-hdr-title-divider::before {
    right: 0;
}
.section-hdr p{
	font-size: 18px;
	line-height: 20px;
}
.hm-service-slide-item{
	padding: 0 20px;
	width: 33.3333%;
}
.hm-service-slide-item-dsc {
    position: relative;
    padding: 50px 10px 65px 20px;
    min-height: 340px;
    line-height: 20px;
}
.hm-service-slide-item-dsc:hover h4,
.hm-service-slide-item-dsc:hover{
	color: #fff;
}
.hm-service-slide-item-hover{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	background-position: center center !important;
	z-index: -1;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-service-slide-item-dsc:hover .hm-service-slide-item-hover{
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-service-slide-item-dsc:hover > a{
	opacity: 1;
	z-index: 1;
}
.servicee-grd-icon-ctrl{
	position: relative;
	min-height: 70px;
}
.servicee-grd-icon-ctrl span{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.hm-service-slide-item-dsc span:last-of-type{
	opacity: 0;
}
.hm-service-slide-item-dsc:hover span:last-of-type{
	opacity: 1;
}
.hm-service-slide-item-dsc:hover span:first-of-type{
	opacity: 0;
}
.hm-service-slide-item-dsc span{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-service-slide-item-dsc h4 {
    margin: 0;
    color: #424242;
    line-height: 30px;
    font-family: "OpenSans-Bold";
    font-size: 26px;
    text-transform: capitalize;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 0;

}
.hm-service-slide-item-dsc h4 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
	transition: initial;
}
.hm-service-slide-item-dsc h4:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 105px;
	height: 1px;
	background: #fff;
	transition: all 1.5s;
	-ms-transition: all 1.5s;
	-webkit-transition: all 1.5s;
}

.hm-service-slide-item-dsc > a:before{
	content: "";
	position: absolute;
	right: -2px;
	bottom: -11px;
	background: url(../images/btn-bg.png);
	background-repeat: no-repeat;
	width: 148px;
	height: 57px;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
		transition: all 1.5s;
	-ms-transition: all 1.5s;
	-webkit-transition: all 1.5s;
}
.hm-service-slide-item-dsc:hover > a:before{
	opacity: 1;
	visibility: visible;
}
.hm-service-slide-item-dsc:hover > a{
	right: 2px;
}
.hm-service-slide-item-dsc > a{
	text-decoration: none;
	font-size: 20px;
	line-height: 22px;
	color: #ffe4c8;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	position: absolute;
	right: 0;
	bottom: 11px;
	padding-right: 27px;
	opacity: 0;
	z-index: -20;
	-ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.hm-service-slide-item-dsc > a:after{
    content: "";
    position: absolute;
    right: 9px;
    top: 5px;
    background: url(../images/small-angle-icon.png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    width: 13px;
    height: 13px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.hm-service-slide-item-dsc > a:hover{
	color: #0e857b;
}
.hm-service-slide-item-dsc > a:hover:after{
	background: url(../images/small-angle-icon-hover.png);
}
.hm-service-slide-item-dsc p {
    min-height: 130px;
    text-align: justify;
    padding-top: 9px;
}
.hm-service-wrp {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
/*
-----------------------------
 Service Slider Next Prev css
------------------------------
*/
.HmBrandLogoarrows .leftArrow,
.hmgirdarrows .leftArrow,
.sersliderarrows .leftArrow{
	position: absolute;
	left:-40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.HmBrandLogoarrows .rightArrow,
.hmgirdarrows .rightArrow,
.sersliderarrows .rightArrow{
	position: absolute;
	right:-40px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.HmBrandLogoarrows .leftArrow{
	left: -20px;
}
.HmBrandLogoarrows .rightArrow{
	right: -20px;
}
.HmBrandLogoarrows .leftArrow,
.HmBrandLogoarrows .rightArrow,
.hmgirdarrows .leftArrow,
.hmgirdarrows .rightArrow,
.sersliderarrows .leftArrow,
.sersliderarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
	opacity: .5;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.HmBrandLogoarrows .rightArrow:hover,
.HmBrandLogoarrows .leftArrow:hover,
.hmgirdarrows .rightArrow:hover,
.hmgirdarrows .leftArrow:hover,
.sersliderarrows .rightArrow:hover,
.sersliderarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	opacity: 1;
}

/*
---------------------
 Pagination css
---------------------
*/
.hm-service-slider.slick-dotted.slick-slider {
    margin-bottom: 70px !important;
}
.hm-service-slider .slick-dots {
    bottom: -70px !important;
    left: 0;
    right: 0;
}
.hm-service-slider .hm-service-slide-item:focus{
	text-decoration: none;
	outline: none;
}

.hm-service-slider .slick-dots li,
.vt-home-form-slider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.hm-service-slider .slick-dots li,
.hm-service-slider .slick-dots li button,
.hm-service-slider .slick-dots li button:before,
.vt-home-form-slider .slick-dots li,
.vt-home-form-slider .slick-dots li button,
.vt-home-form-slider .slick-dots li button:before{
	width: 21px;
	height: 21px;
	padding: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.hm-service-slider .slick-dots li button:before,
.vt-home-form-slider .slick-dots li button:before{
	content: "";
}
.hm-service-slider .slick-dots li.slick-active,
.hm-service-slider .slick-dots li:hover,
.vt-home-form-slider .slick-dots li.slick-active,
.vt-home-form-slider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
/*.vt-home-form-slider{
	overflow: hidden;
}*/
.vt-home-form-slider .vt-home-form-slide{
	display: none;
}
.vt-home-form-slider .vt-home-form-slide:first-child{
	display: block;
}
.vt-home-form-slider.slick-initialized .vt-home-form-slide{
	display: block;
}
.vt-home-form-slider .slick-dots{
	position: static!important;
}
/*
---------------------
hm-campaign-grid-sec-wrp
---------------------
*/

.hm-campaign-grid-sec-wrp{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	padding-top: 55px;
}
.vt-form-2-sec-wrap{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	position: relative;	
	padding: 60px 0 27px;
}
.vt-form-2-sec-des-ctlr{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	padding: 70px 55px 10px;	
}
.vt-form-2-sec-des-ctlr{
	position: relative;
}


.home-form-2-center-icon{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	top: -54px;
	max-width: 108px;
}
.wpcf7cf_step_inner h3{
	font-size: 17px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 25px;
}
.wpcf7cf_step{
	padding-bottom: 30px;
	min-height: 219px;
}
.singup-form-txt-field textarea{
	width: 100%;
    height: 130px;
    background: #fbfbfb;
    font-family: 'OpenSans-Light';
    font-size: 16px;
    line-height: 18px;
    border: none;
    color: #0e857b;
    border-radius: 30px;
    padding: 30px;
}
.singup-form-txt-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0e857b;
}
.singup-form-txt-field textarea::-moz-placeholder { /* Firefox 19+ */
  color: #0e857b;
}
.singup-form-txt-field textarea:-ms-input-placeholder { /* IE 10+ */
  color: #0e857b;
}
.singup-form-txt-field textarea:-moz-placeholder { /* Firefox 18- */
  color: #0e857b;
}
/*.wpcf7cf_step_controls{
	position: relative;
}
.wpcf7cf_step_controls:after,
.wpcf7cf_step_controls:before{
	content: "";
	display: table;
	clear: both;
}*/
.wpcf7cf_step_controls span{
	display: inline-block;
	vertical-align: baseline;
	line-height: 100%;
}
.wpcf7cf_step_controls span button{
	width: 243px;
	height: 52px;
	margin: 0 auto;
	position: relative;
	font-size: 21px;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	color: #fff;
	z-index: 2;
	display: block;
	padding-left: 30px;
	text-align: left;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.wpcf7cf_step_controls span button.wpcf7cf_next{
	background: url(../images/sign-up-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.wpcf7cf_step_controls span button.wpcf7cf_next:after{
	content: "";
	position: absolute;
	background: url(../images/wpcf7cf_next_arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 17px;
	height: 16px;
	background-size: 17px 16px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 35px;
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.wpcf7cf_step_controls span button.wpcf7cf_next:hover:after{
	background: url(../images/wpcf7cf_next_arrow_hover.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 17px;
	height: 16px;
	background-size: 17px 16px;
	right: 30px;
}
.wpcf7cf_step_controls{
	text-align: center;
	width: 100%;
}
.wpcf7cf_step_controls span button.wpcf7cf_prev.disabled{
	display: none;
}
.wpcf7cf_step_controls span button.wpcf7cf_prev{
	background: url(../images/sign-up-btn-bg-prv-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-right: 0;
	padding-left: 55px;
}
.wpcf7cf_step_controls span button.wpcf7cf_prev:after{
	content: "";
    position: absolute;
    background: url(../images/wpcf7cf_prev_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
   width: 16px;
   height: 16px;
   background-size: 16px 16px;
   top: 50%;
   transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   left: 25px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.wpcf7cf_step_controls span button.wpcf7cf_prev:hover:after{
	background: url(../images/wpcf7cf_prev_arrow_hover.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 17px;
	height: 16px;
	background-size: 16px 16px;
	left: 24px;
}

.wpcf7cf_step_controls span button.wpcf7cf_prev:hover ,
.wpcf7cf_step_controls span button.wpcf7cf_next:hover {
    color: #0e857b;
}

.wpcf7-form-control-wrap select{
	width: 100%;
	height: 55px;
    background: #fbfbfb;
    padding: 15px 15px;
    font-family: 'OpenSans-Light';
    font-size: 16px;
    line-height: 18px;
    border: none;
    color: #0e857b;

}
.wpcf7-form-control-wrap select option{
	    font-size: 16px;
    line-height: 18px;
}
.vt-form-2-sec-hdr{
	text-align: center;
}
.vt-form-2-sec-hdr h3{
	font-size: 30px;
    font-family: 'OpenSans-Italic';
    text-transform: uppercase;
}
.vt-form-2-sec-hdr h3 span{
	font-family: 'OpenSans-ExtraboldItalic';
	display: inline-block;
	vertical-align: baseline;
	color: #0e857b;
}
.vt-form-2-sec-des-ctlr .wpcf7cf_steps-dots{
	max-width: 230px;
}
.vt-form-2-sec-des-ctlr .dot.active{
	background: #fd6608; 
}

.vt-form-2-sec-des-ctlr .singup-form-field{
	width: 25%;
}
.singup-form-field-ctlr .singup-form-field.singup-form-field-3{
	width: 25%;
}
.singup-form-field-ctlr .singup-form-field.singup-form-field-9{
	width: 75%;
}

.vt-form-2-sec-des-ctlr .singup-form-field textarea{
	width: 100%;
    height: 120px;
    background: #fbfbfb;
    font-family: 'OpenSans-Light';
    font-size: 16px;
    line-height: 18px;
    color: #0e857b;
    border-radius: 0;
    border: none;
    padding: 15px;
    resize: none;
}
.vt-form-2-sec-des-ctlr .singup-form-field textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0e857b;
}
.vt-form-2-sec-des-ctlr .singup-form-field textarea::-moz-placeholder { /* Firefox 19+ */
  color: #0e857b;
}
.vt-form-2-sec-des-ctlr .singup-form-field textarea:-ms-input-placeholder { /* IE 10+ */
  color: #0e857b;
}
.vt-form-2-sec-des-ctlr .singup-form-field textarea:-moz-placeholder { /* Firefox 18- */
  color: #0e857b;
}

.hm-campaign-grid-lft-con{
	width: 50%;
	float: left;
}
.hm-campaign-grid-rgt-con {
    width: 50%;
    float: right;
    padding-left: 15px;
    padding-bottom: 25px;
}
.hm-campaign-grid-rgt-wrp{
	background: #fff;
	padding: 62px 20px 20px 35px;
	position: relative;
}
.hm-campaign-tp-head h3{
	margin: 0;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	color: #0e857b;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.4;
}
.hm-campaign-tp-head h3 span{
	margin: 0;
	font-size: 31px;
	line-height: 33px;
	color: #fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.hm-campaign-tp-head{
	padding-bottom: 30px;
}
.hm-campaign-tp-head > span {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.hm-campaign-grid-lft-img img{
	position: relative;
	bottom: 0;
}
.wpcf7cf_steps-dots {
    max-width: 330px;
    width: 100%;
    display: table;
    height: 30px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 40px;
}
.step-title{
	display: none;
}
.wpcf7cf_steps-dots:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    max-width: 300px;
    width: 100%;
    height: 1px;
    background: #eef1f7;
}
.dot{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
    background: #eef1f7;
    border-radius: 50px;
    font-size: 15px;
    line-height: 30px;
    color: #c7cad1;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.dot:nth-child(1){
	left: 0px;
}
.dot:nth-child(2){
	left: 100px;
}
.dot:nth-child(3){
	left: 200px;
}
.dot:last-of-type{
	left: auto;
	right: 0;
}

.dot.active{
	background: #0e857b;
	color: #fff;
}
.dot-dsc{
	text-align: center;
	font-size: 17px;
	line-height: 22px;
	padding-bottom: 15px;
}
.singup-form-fields{
	margin: 0 -5px;
	margin-bottom: 10px;
}
.singup-form-field{
	float: left;
	width: 50%;
	padding: 0 5px;
}
.singup-form-field input[type="number"],
.singup-form-field input[type="text"],
.singup-form-field input[type="email"],
.singup-form-field input[type="tel"]{
	width: 100%;
	height: 55px;
	background: #fbfbfb;
	padding: 15px 15px;
	font-family: 'OpenSans-Light';
	font-size: 16px;
	line-height: 18px;
}
.singup-form-field input[type="number"]:focus,
.singup-form-field input[type="text"]:focus,
.singup-form-field input[type="email"]:focus,
.singup-form-field input[type="tel"]:focus{
	background: #efebeb;
}
.submit-btn{
	max-width: 278px;
	width: 100%;
	height: 58px;
	margin: 0 auto;
	position: relative;
	margin-top: 30px;
}
.submit-btn:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/submit-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: 0;
}
.submit-btn input[type="submit"] {
    width: 100%;
    height: 58px;
    background: transparent;
    position: relative;
    z-index: 1;
    color: #ffe4c8;
    font-size: 25px;
    line-height: 27px;
    text-transform: uppercase;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    padding-right: 30px;
    background: url(../images/main-slider-btn-angle.png);
    background-repeat: no-repeat;
    background-position: top 19px right 35px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.submit-btn input[type="submit"]:hover{
	color: #0e857b;
	background: url(../images/main-slider-btn-angle-hover.png);
	background-repeat: no-repeat;
	background-position: top 19px right 35px;
}

.singup-form-field input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}

.singup-form-field input[type="tel"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="tel"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="tel"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="tel"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}


.singup-form-field input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}


.singup-form-field input[type="number"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]::-moz-placeholder { /* Firefox 19+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]:-ms-input-placeholder { /* IE 10+ */
  color:#0e857b;
  opacity: 1;
}
.singup-form-field input[type="number"]:-moz-placeholder { /* Firefox 18- */
  color:#0e857b;
  opacity: 1;
}
/*forms css*/

.cf7mls_progress_bar{
	padding: 0;
	max-width: 330px;
	height: 30px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.cf7mls_progress_bar:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	height: 1px;
	background: #eef1f7;
	z-index: 1;
}
.cf7mls_progress_bar li{
	width: 30px!important;
	height: 30px!important;
	border-radius: 100% 100%;
	background: #eef1f7;
	float: none;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	z-index: 2;
	font-weight: normal;
	font-family: "OpenSans-Bold";
	font-size: 15px;
	line-height: 16px;
	padding-top: 7px!important;
	color: #c7cad1;
	position: absolute;
	top: 0;
}
.cf7mls_progress_bar li:nth-child(1){
	left: 0;
}
.cf7mls_progress_bar li:nth-child(2){
	left: 100px;
}
.cf7mls_progress_bar li:nth-child(3){
	left: 200px;
}
.cf7mls_progress_bar li:nth-child(4){
	right: 0;
}
.cf7mls_progress_bar li:before,
.cf7mls_progress_bar li:after{
	content: none;
}
.cf7mls_progress_bar li.active.current{
	background: #0e857b;
	color: #fff;
}
.fieldset-cf7mls-wrapper{
	padding-left: 5px;
	padding-right: 5px;
}
.wpcf7cf_step_inner{
	padding-top: 35px;
}
/*.wpcf7cf_step_inner h3{
	padding-left: 0;
	padding-right: 0;
}*/

.cf7mls_next.action-button,
.cf7mls_back.action-button,
.wpcf7-form-control.wpcf7-submit{
	width: 238px;
	height: 52px;
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	font-size: 21px;
	line-height: 22px;
	padding: 16px 0 18px;
	font-weight: normal!important;
	font-family: 'OpenSans-Italic'!important;
	text-transform: uppercase;
	margin-left: 0;
	margin-right: 0;
	position: relative;
}
.cf7mls_next.action-button,
.wpcf7-form-control.wpcf7-submit{
	background: url(../images/sign-up-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 30px;
	text-align: left;
}
.wpcf7-form-control.wpcf7-submit{
	text-align: center!important;
}
.cf7mls_back.action-button{
	background: url(../images/sign-up-btn-bg-prv-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 9px;
}

.cf7mls_next.action-button:after,
.wpcf7-form-control.wpcf7-submit:after,
.cform-submmit-btn:after{
	content: ""!important;
	position: absolute;
	right: 36px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/wpcf7cf_next_arrow.png);
	width: 17px!important;
	height: 16px!important;
	background-size: 100% auto;
	background-repeat: no-repeat;
	opacity: 1;
		transition: all 0.5s!important;
	-ms-transition: all 0.5s!important;
	-webkit-transition: all 0.5s!important;
}
.wpcf7-form-control.wpcf7-submit:after{
	right: 55px;
}
.cf7mls_next.action-button:hover:after{
	right: 30px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.cf7mls_back.action-button{
	padding-left: 18px;
}
.cf7mls_back.action-button:after{
	content: ""!important;
	position: absolute;
	left: 26px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/wpcf7cf_prev_arrow.png);
	width: 16px!important;
	height: 16px!important;
	background-size: 100% auto;
	background-repeat: no-repeat;
	opacity: 1;
		transition: all 0.5s!important;
	-ms-transition: all 0.5s!important;
	-webkit-transition: all 0.5s!important;
	z-index: 5;
	
}

.cform-btns{
	padding-top: 10px;
	text-align: center;
}
.wpcf7cf_step{
	padding-bottom: 0;
}
.cform-btns:after,
.cform-btns:before{
	content: "";
	display: table;
	clear: both;
}
/*.cform-submmit-btn{
	display: inline-block;
	vertical-align: baseline;
	float: right;
	position: relative;
}*/

.vt-form-2-sec-des-ctlr .cf7mls_progress_bar li.active.current {
    background: #fd6608;
    color: #fff;
}

.vt-form-2-sec-des-ctlr .cf7mls_progress_bar{
	max-width: 230px;
}
.vt-form-2-sec-hdr h3{
	margin-bottom: 15px;
}
.vt-form-2-sec-des-ctlr .wpcf7cf_step_inner h3{
	margin-bottom: 35px;
}
.vt-form-2-sec-des-ctlr .wpcf7cf_step{
	padding-bottom: 0;
}
/*
------------------------------
hm-laboratory-content-sec-wrp
------------------------------
*/
.hm-laboratory-content-sec-wrp {
    padding-top: 50px;
    padding-bottom: 30px;
}
.hm-laboratory-img img{
	display: inline-block;
	vertical-align: baseline;
}
.hm-laboratory-img{
	float: right;
}
.hm-laboratory-dsc h3 {
    margin: 0;
    font-family: 'OpenSans-Italic';
    font-style: italic;
    color: #0e857b;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 7px;
}
.hm-laboratory-dsc p {
    line-height: 28px;
    text-align: justify;
}
.hm-laboratory-dsc h3 span{
	display: block;
	color: #fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
}
.hm-laboratory-dsc h3:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../images/head-icon.png);
	background-repeat: no-repeat;
	background-size: 157px 19px;
	width: 100%;
	max-width: 157px;
	height: 19px;
}
.hm-laboratory-dsc h6 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    color: #0e857b;
    font-family: 'OpenSans-Semibold';
    margin-top: 32px;
    margin-bottom: 32px;
    text-transform: uppercase;
}
.hm-laboratory-dsc > ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}
.hm-laboratory-dsc > ul > li{
	font-size: 16px;
	line-height: 18px;
	padding-left: 30px;
	background: url(../images/thik-icon.png);
	background-repeat: no-repeat;
	background-size: 17px 17px;
	padding-bottom: 15px;
}
.hm-laboratory-dsc{
	max-width: 530px;
	width: 100%;
}
.hm-laboratory-btn{
	padding-left: 15px;
	padding-top: 20px;
}
.hm-laboratory-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #ffe4c8;
	font-size: 18px;
	line-height: 20px;
	font-family: 'OpenSans-Italic';
	font-style: italic;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hm-laboratory-btn a.ornage-btn{
	max-width: 205px;
	width: 100%;
	height: 45px;
	padding: 12px 45px 12px 25px;
}
.hm-laboratory-btn a.green-btn{
	max-width: 185px;
	width: 100%;
	height: 45px;
	padding: 12px 45px 12px 25px;
	color: #cae5e3;
	margin-left: 10px;
}
.hm-laboratory-btn a.green-btn:before,
.hm-laboratory-btn a.ornage-btn:before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/ornage-btn-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: -1;
}
.hm-laboratory-btn a.green-btn:before{
	background: url(../images/green-btn-bg.png);
	background-repeat: no-repeat;
}
.hm-laboratory-btn a.green-btn:after,
.hm-laboratory-btn a.ornage-btn:after {
    content: "";
    position: absolute;
    right: 24px;
    top: 16px;
    background: url(../images/ornage-btn-angle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hm-laboratory-btn a.green-btn:after{
	background: url(../images/green-btn-angle.png);
	background-repeat: no-repeat;
}
.hm-laboratory-btn a.ornage-btn:hover{
	color: #0e857b;
}
.hm-laboratory-btn a.ornage-btn:hover:after{
	background: url(../images/ornage-btn-angle-hover.png);
	background-repeat: no-repeat;
	right: 20px;
}
.hm-laboratory-btn a.green-btn:hover{
	color: #fd6406;
}
.hm-laboratory-btn a.green-btn:hover:after{
	background: url(../images/green-btn-angle-hover.png);
	right: 20px;
}

/*
-----------------------------
 Service Slider Next Prev css
------------------------------
*/
.laboratoryarrows .leftArrow{
	position: absolute;
	left:-40px;
	top: 42%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
.laboratoryarrows .rightArrow{
	position: absolute;
	right:-40px;
	top: 42%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
}
.laboratoryarrows .leftArrow,
.laboratoryarrows .rightArrow {
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
	color: #fd6406;
	text-align: center;
	font-size: 29px;
	line-height: 34px;
	border:4px solid #0e857b;
	border-radius: 50px;
	opacity: .5;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.laboratoryarrows .rightArrow:hover,
.laboratoryarrows .leftArrow:hover{
	color: #0e857b;
	border-color: #fd6406;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	opacity: 1;
}


/*
----------------
 Pagination Css
----------------
*/
.HmbtmGridSlider .slick-dots li,
.hm-laboratory-slider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0 5px; 
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.HmbtmGridSlider .slick-dots li button{
	margin: 0;
	padding: 0;
}
.HmbtmGridSlider .slick-dots li,
.HmbtmGridSlider .slick-dots li button,
.HmbtmGridSlider .slick-dots li button:before,
.hm-laboratory-slider .slick-dots li,
.hm-laboratory-slider .slick-dots li button,
.hm-laboratory-slider .slick-dots li button:before{
	width: 21px;
	height: 21px;
	padding: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.HmbtmGridSlider .slick-dots li button:before,
.hm-laboratory-slider .slick-dots li button:before{
	content: "";
}
.HmbtmGridSlider .slick-dots li.slick-active,
.HmbtmGridSlider .slick-dots li:hover,
.hm-laboratory-slider .slick-dots li.slick-active,
.hm-laboratory-slider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.hm-brand-logo-sec-wrp {
    background: #fafbfc;
    padding-top: 30px;
    padding-bottom: 35px;
}
.hm-brand-logo{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}
.hm-brand-logo ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.hm-brand-logo ul li img{
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
}
/*
---------------------
hm-btm-grid-sec-wrp
---------------------
*/
.hm-btm-grid-sec-wrp {
    padding-top: 30px;
    padding-bottom: 50px;
}
.HmbtmGridSlider.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.hm-btm-grid-sec-wrp .section-hdr{
	padding-bottom: 0;
}
.hm-btm-grid-sec-wrp .section-hdr p{
	line-height: 25px;
	text-align: center;
}
.HmbtmGridSlider .slick-dots{
	bottom: -30px;
}
.HmbtmGridSlide-item{
	padding: 0 10px;
}
.hm-btm-grid-dsc-inr:hover{
	-webkit-box-shadow: 0 5px 14px -8px rgba(70, 70, 70, 0.61);
	-ms-box-shadow: 0 5px 14px -8px rgba(70, 70, 70, 0.61);
	box-shadow: 0 5px 14px -8px rgba(70, 70, 70, 0.61);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
 }
.hm-btm-grid-img{
	text-align: center;
}
.hm-btm-grid-img img{
	display: inline-block;
	vertical-align: baseline;
}
.hm-btm-grid-dsc-inr {
    background: #fafbfc;
    padding: 24px 24px 24px 24px;
    position: relative;
    margin-bottom: 25px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hm-btm-grid-dsc{
	text-align: center;
}
.hm-btm-grid-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	font-family: "OpenSans-BoldItalic";
	position: relative;
	max-width: 83px;
	width: 100%;
	height: 26px;
	z-index: 1;
	padding-top: 5px;
	text-transform: uppercase;
	top: -15px;
}
.hm-btm-grid-dsc strong:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../images/date-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}
.hm-btm-grid-dsc h6{
	font-size: 18px;
	line-height: 26px;
	font-family: 'OpenSans-SemiboldItalic';
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 30px;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}
.hm-btm-grid-dsc h6 a{
	color: #0e857b;
}
.hm-btm-grid-orange .hm-btm-grid-dsc h6 a{
	color: #fa5503;
}
.hm-btm-grid-dsc h6 a:hover{
	color: #fa5503;
}
.hm-btm-grid-orange .hm-btm-grid-dsc h6 a:hover{
	color: #0e857b;
}
.hm-btm-grid-dsc-btn{
	border-bottom: 2px solid#fa6405;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.hm-btm-grid-dsc-btn a{
	display:block;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-family: "OpenSans-BoldItalic";
	text-transform: uppercase;
	max-width: 135px;
	width: 100%;
	height: 38px;
	position: relative;
	z-index: 1;
	text-align: center;
	padding-top: 11px;
	margin: 0 auto;
	margin-bottom: -20px;
}
.hm-btm-grid-dsc-btn a:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: url(../images/hm-btm-grid-dsc-btn-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.hm-btm-grid-orange .hm-btm-grid-dsc-btn a:after{
	background: url(../images/green-grid-btn-bg.png);
}
.hm-btm-grid-orange h6{
	color: #fa6405;
}
.hm-btm-grid-orange .hm-btm-grid-dsc-btn{
	border-bottom: 2px solid #0e857b;
}
.vt-home-form-slider .fieldset-cf7mls-wrapper .fieldset-cf7mls{
	display: none;
}
.vt-home-form-slider .fieldset-cf7mls-wrapper .fieldset-cf7mls:first-child,
.vt-home-form-slider.slick-initialized .fieldset-cf7mls-wrapper .fieldset-cf7mls{
	display: block;
}
.slick-slide .vt-home-form-slide{
	height: 0;
	overflow: hidden;
	transition: height 0.5s;
}
.slick-slide.slick-active .vt-home-form-slide{
	height: auto;
	overflow: initial;	
}
span.wpcf7-not-valid-tip{
	padding-top: 6px!important;
	font-size: 14px;
}
input[type="button"].cf7mls_back.action-button{
	padding-left: 0!important;
	text-align: center!important;
}
.dft-page-contact-form-main span.wpcf7-not-valid-tip {
    padding-top: 0!important;
    padding-bottom: 10px!important;
    margin-top: -3px!important;
    font-size: 14px;
}
@media(max-width: 1399px){
	.hm-service-slider{
		padding-left: 50px;
		padding-right: 50px;
	}
	.hm-service-wrp {
	    padding-left: 0;
	    padding-right: 0;
	}
	.mainsliderarrows .leftArrow{
		left: 10px;
	}
	.mainsliderarrows .rightArrow{
		right: 10px;
	}
}
@media(max-width: 1299px){
	.mainsliderarrows .leftArrow{
		display: none!important;
	}
	.mainsliderarrows .rightArrow{
		display: none!important;
	}
	.mainsliderarrows .leftArrow{
		top: 91%;
	}
	.mainsliderarrows .rightArrow{
		top: 91%;
	}
	.laboratoryarrows .leftArrow{
		left: 10px;
	}
	.laboratoryarrows .rightArrow{
		right: 10px;
	}
	.HmBrandLogoarrows .leftArrow,
	.hmgirdarrows .leftArrow,
	.sersliderarrows .leftArrow{
		left: 10px;
	}
	.HmBrandLogoarrows .rightArrow,
	.hmgirdarrows .rightArrow,
	.sersliderarrows .rightArrow{
		right: 10px;
	}
	.hm-laboratory-slider {
	    padding-left: 50px;
	    padding-right: 50px;
	}
	.HmbtmGridSlider{
		padding-left: 50px;
		padding-right: 50px;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.dot-dsc p br{
		display: none;
	}
	.hm-btm-grid-dsc h6 br{
		display: none;
	}
	.main-slider-sec-wrp {
	    overflow: hidden;
	}
	.hm-laboratory-content-sec-wrp,
	.hm-brand-logo-sec-wrp,
	.hm-btm-grid-sec-wrp,
	.hm-service-sec-wrp {
	    overflow: hidden;
	}
	.hm-campaign-tp-head h3{
		font-size: 30px;
		line-height: 1.3;
	}
	.hm-campaign-tp-head h3 span{
		font-size: 30px;
	}
	.hm-campaign-grid-rgt-con{
		width: 100%;
	}
	.hm-campaign-tp-head h3{
		padding-top: 5px;
	}
	.vt-form-2-sec-des-ctlr{
		padding-left: 10px;
		padding-right: 10px;
	}
}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.hm-campaign-grid-sec-wrp{
		padding-top: 75px;
	}
	.hm-campaign-grid-rgt-con {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	    margin: 0 auto;
	}
	.hm-campaign-grid-rgt-wrp {
	    padding: 62px 20px 20px 20px;
	}
	.pull-right {
	    float: none !important;
	}
	.hm-laboratory-img {
	    float: none;
	    text-align: center;
	    padding-bottom: 30px;
	    padding-top: 25px;
	}
	.laboratoryarrows .leftArrow {
	    display: none !important;
	}
	.laboratoryarrows .rightArrow {
	    display: none !important;
	}
	.hm-laboratory-dsc h3 {
	    max-width: 400px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.hm-laboratory-dsc h3:after{
		left: 50%;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.hm-laboratory-content-sec-wrp {
	    padding-top: 30px;
	    padding-bottom: 45px;
	}
	.hm-laboratory-dsc p br{
		display: none;
	}
	.hm-laboratory-dsc ul > li > br{
		display: none;
	}
	.hm-laboratory-dsc{
		max-width: 480px;
		width: 100%;
		margin: 0 auto;
	}
	.hm-laboratory-dsc p{
		text-align: center;
	}
	.hm-laboratory-btn {
	    padding-top: 20px;
	    padding-bottom: 15px;
	}
	.hm-brand-logo {
	    max-width: 650px;
	    width: 100%;
	    margin: 0 auto;
	}
	.hm-brand-logo-sec-wrp {
	    padding-bottom: 55px;
	}
	.HmBrandLogoarrows .leftArrow{
		display: none !important;
	}
	.HmBrandLogoarrows .rightArrow{
		display: none !important;
	}
	.hm-brand-logo {
	    text-align: center;
	}
	/*
	----------------
	 Pagination Css
	----------------
	*/
	#HmBrandLogoSlider .slick-dots {
	    bottom: -50px;
	}
	#HmBrandLogoSlider .slick-dots li{
		background-image: url(../images/sky-pagi.png);
		background-size: 7px 7px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
	}
	#HmBrandLogoSlider .slick-dots li,
	#HmBrandLogoSlider .slick-dots li button,
	#HmBrandLogoSlider .slick-dots li button:before{
		width: 21px;
		height: 21px;
		padding: 0;
		-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	}
	#HmBrandLogoSlider .slick-dots li button:before{
		content: "";
	}
	#HmBrandLogoSlider .slick-dots li.slick-active,
	#HmBrandLogoSlider .slick-dots li:hover{
		background-image: url(../images/yellow-pegi.png);
		background-size: 21px 21px;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	}
	.hm-btm-grid-sec-wrp {
	    padding-top: 40px;
	}
	.hm-btm-grid-sec-wrp .sec-hdr-title-divider {
	    margin-bottom: 30px;
	}
	.hm-btm-grid-sec-wrp .section-hdr {
	    padding-bottom: 20px;
	    max-width: 550px;
		width: 100%;
		margin: 0 auto;
	}
	.hm-btm-grid-sec-wrp .section-hdr p br{
		display: none;
	}
	.hm-service-slide-item-dsc {
	    padding: 35px 10px 65px 20px;
	}
	.singup-form-field-ctlr .singup-form-field.singup-form-field-3 {
	    width: 30%;
	}
	.singup-form-field-ctlr .singup-form-field.singup-form-field-9 {
	    width: 70%;
	}
	.hm-btm-grid-dsc h6{
		font-size: 16px;
	    line-height: 20px;
	}

}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.main-slider-sec-wrp {
	    padding-top: 0;
	}
	header.header {
	    position: static;
	}
	.main-slide-item{
	    min-height: 440px !important;
	    background-repeat: no-repeat !important;
	    background-size: 100% 100% !important;
	    background-position: center center !important;
	    padding: 0 0 55px;
	    background: url(../images/xs-main-slider-sec-bg.png);
	}
	.main-slider .slick-dots {
	    bottom: 25px;
	}
	.main-slider .slick-dots li{
		background-image: url(../images/sky-pagi.png);
		background-size: 7px 7px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 5px;
		display: inline-block;
		vertical-align: baseline;
		float: none;
	}
	.main-slider .slick-dots li,
	.main-slider .slick-dots li button,
	.main-slider .slick-dots li button:before{
		width: 21px;
		height: 21px;
		padding: 0;
		-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	}
	.main-slider .slick-dots li button:before{
		content: "";
	}
	.main-slider .slick-dots li.slick-active,
	.main-slider .slick-dots li:hover{
		background-image: url(../images/yellow-pegi.png);
		background-size: 21px 21px;
		background-position: center center;
		background-repeat: no-repeat;
		-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	}
	.main-slide-item-dsc {
	    max-width: 565px;
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	    padding-top: 15px;
	}
	.main-slide-item-dsc p {
	    padding-right: 0;
	    text-align: center;
	}
	.main-slide-item-dsc h1:after{
		left: 50%;
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		background:url(../images/main-slider-bdr-xs.png);
		background-repeat: no-repeat;
		background-size: 278px 19px;
    	width: 278px;
    	height: 19px;
	}
	.main-slide-item-img {
	    position: static;
	    min-height: 260px;
	}
	.hm-brand-logo {
	    max-width: 350px;
	    width: 100%;
	    margin: 0 auto;
	}
	.section-hdr .sec-hdr-title span {
	    display: block;
	}
	.hm-service-slide-item-dsc {
	    padding: 35px 20px 65px 20px;
	    max-width: 350px;
	    width: 100%;
	    height: 380px;
	    margin: 0 auto;
	    text-align: center;
	}
	.hm-service-slide-item-dsc h4 br{
		display: none;
	}
	.hm-service-slider .slick-dots {
	    bottom: -46px !important;
	}
	.hm-service-sec-wrp {
	    padding-top: 35px;
	    padding-bottom: 25px;
	}
	.hm-service-slide-item-dsc:hover span:last-of-type {
	    max-width: 50px;
	    width: 100%;
	    margin: 0 auto;
	}
	.hm-service-slide-item-dsc h4:after{
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.section-hdr p {
	    font-size: 18px;
	    line-height: 20px;
	    text-align: center;
	}
	.main-slide-item-dsc h1 span {
	    font-size: 32px;
	}
	.hm-service-slide-item-dsc p {
	    text-align: inherit;
	}
	.hm-laboratory-slider {
	    padding-left: 0;
	    padding-right: 0;
	}
	.hm-btm-grid-sec-wrp {
	    padding-bottom: 80px;
	}
	.mainsliderarrows .leftArrow{
	    top: 89%;
	}
	.mainsliderarrows .rightArrow{
	    top: 89%;
	}
	.main-slider-sec-wrp .leftArrow,
	.main-slider-sec-wrp .rightArrow{
		display: none!important;
	}
	.main-slide-item{
		padding-bottom: 85px;
		border: none;
	}
	.main-slider{
		margin-bottom: 0!important;
	}
	.hm-service-sec-wrp .sec-hdr-title.set-hdr-big-title span{
		display: inline;
	}
	.main-slide-item-dsc h1{
		line-height: 1.1;
	}
	.main-slide-item-img{
		background-position: center center!important;
	}
	.hm-campaign-tp-head h3{
		line-height: 1.2;
	}
	.hm-campaign-tp-head h3 span{
		font-size: 30px;
	}
	.vt-form-2-sec-des-ctlr .singup-form-field {
	    width: 50%;
	}
	.singup-form-field-ctlr .singup-form-field.singup-form-field-3 {
	    width: 35%;
	}
	.singup-form-field-ctlr .singup-form-field.singup-form-field-9 {
	    width: 65%;
	}
	.cf7mls_back.action-button,
	.cf7mls_next.action-button, .wpcf7-form-control.wpcf7-submit,
	.cf7mls_back.action-button{
		margin-left: 5px;
		margin-right: 5px;
	}
	.vt-home-form-slider .matchHeightCol{
		height: auto!important;
	}
	.vt-form-2-sec-hdr h3{
		font-size: 24px;
	}
	.hm-laboratory-dsc h3{
		font-size: 32px;
	}
	.hm-laboratory-dsc h3:after{
		background: url(../images/xs-hdr-btm-line.png);
		max-width: 278px;
	}
	.servicee-grd-icon-ctrl span{
		left: 50%;
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.hm-service-slide-item-dsc.matchHeightCol{
		height: auto!important;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.singup-form-field {
	    float: left;
	    width: 100%;
	    padding: 0;
	    margin-bottom: 10px;
	}
	.singup-form-fields {
	    margin: 0;
	    margin-bottom: 0;
	}
	.hm-campaign-tp-head h4{
		font-size: 30px;
		line-height: 32px;
	}
	.hm-campaign-tp-head {
	    padding-bottom: 25px;
	}
	.submit-btn {
	    margin-top: 20px;
	}
	.hm-campaign-grid-rgt-con {
	    padding-bottom: 30px;
	}
	.dot:last-of-type {
	    width: 8%;
	}
	.dot {
	    width: 30%;
	}
	.sersliderarrows .leftArrow {
	    left: -10px;
	}
    .sersliderarrows .rightArrow {
	    right: -10px;
	}
	.sersliderarrows .leftArrow,
	.sersliderarrows .rightArrow {
	    height: 35px;
	    width: 35px;
	    font-size: 25px;
	    line-height: 22px;
	}
	.hm-btm-grid-dsc-inr {
	    max-width: 265px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.hm-service-slider {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.HmbtmGridSlider {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.main-slide-item-dsc h1{
		font-size: 27px;
	}
	.hm-campaign-tp-head h3 span,
	.hm-campaign-tp-head h3{
		font-size: 27px;
	}
	.wpcf7cf_step_inner h3{
		padding-left: 0;
		padding-right: 0;
	}
	.vt-form-2-sec-des-ctlr .singup-form-field,
	.singup-form-field-ctlr .singup-form-field.singup-form-field-3,
	.singup-form-field-ctlr .singup-form-field.singup-form-field-9 {
	    width: 100%;
	}
	.hm-laboratory-dsc h3 {
	    font-size: 26px;
	    line-height: 1.2;
	}
	.hm-laboratory-dsc h6{
		font-size: 17px;
	}
	.cf7mls_back.action-button, 
	.cf7mls_next.action-button, 
	.wpcf7-form-control.wpcf7-submit, 
	.cf7mls_back.action-button {
	    margin-left: auto;
	    margin-right: auto;
	    display: table;
	}
	.servicee-grd-icon-ctrl{
		min-height: 55px;
	}
}


@media(max-width: 479px){
	.hm-campaign-tp-head h4 {
	    font-size: 27px;
	    line-height: 30px;
	}
	.dot:last-of-type {
	    width: 10%;
	}
	.hm-laboratory-btn {
	    padding-top: 20px;
	    padding-bottom: 15px;
	    padding-left: 0;
	    text-align: center;
	}
	.hm-laboratory-btn a.ornage-btn {
	    margin-bottom: 10px;
	}
	.hm-service-slide-item {
	    padding: 0;
	}
	.hm-service-slide-item-dsc {
	    padding: 35px 10px 65px 10px;
	}
	.hm-service-slide-item-dsc a {
	    font-size: 20px;
	    line-height: 18px;
	    right: -2px;
	    bottom: 11px;
	}
	.hm-service-slide-item-dsc a:after {
	    right: 7px;
	    top: 2px;
	}
	.hm-service-wrp {
	    padding-left: 0;
	    padding-right: 0;
	}
	.HmBrandLogoarrows .leftArrow,
	.HmBrandLogoarrows .rightArrow,
	.hmgirdarrows .leftArrow,
	.hmgirdarrows .rightArrow,
	.sersliderarrows .leftArrow,
	.sersliderarrows .rightArrow {
	    height: 35px;
	    width: 35px;
	    font-size: 25px;
	    line-height: 22px;
	}
	.nav-opener {
	    right: 10px;
	}
	.mainsliderarrows .leftArrow {
	    top: 91%;
	}
	.mainsliderarrows .rightArrow {
	    top: 91%;
	}
	.mainsliderarrows .leftArrow,
	.mainsliderarrows .rightArrow {
	    height: 35px;
	    width: 35px;
	    font-size: 25px;
	    line-height: 22px;
	}
	.hm-campaign-grid-rgt-wrp{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hm-campaign-tp-head h3 {
	    font-size: 22px;
	    line-height: 1.1;
	}
	.hm-campaign-tp-head h3 span{
		font-size: 19px;
	}
	.hm-laboratory-dsc h3 {
	    font-size: 23px;
	    line-height: 1.2;
	}
	.main-slide-item-dsc h1 {
	    font-size: 22px;
	}
	.main-slide-item-dsc h1 span {
	    font-size: 26px;
	}

}
@media(max-width: 399px){
	.cf7mls_progress_bar{
		max-width: 260px;
	}
	.cf7mls_progress_bar li:nth-child(2) {
	    left: 75px;
	}
	.cf7mls_progress_bar li:nth-child(3) {
	    left: 150px;
	}

	.vt-form-2-sec-wrap .cf7mls_progress_bar li:nth-child(2) {
	    left: 100px;
	}
	.vt-form-2-sec-wrap .cf7mls_progress_bar li:nth-child(3) {
	    right: 0px;
	    left: auto;
	}
	.section-hdr .sec-hdr-title{
		font-size: 23px;
	}
	.hm-service-slide-item-dsc a{
		font-size: 18px;
	}
	.hm-service-slide-item-dsc > a:before {
	    width: 139px;
	    height: 51px;
	}
}



@media(max-width: 359px){

}



