/*
---------------------
promo-tabs-sec-wrp
---------------------
*/
.promo-tabs-sec-wrp {
    padding-top: 27px;
    padding-bottom: 155px;
}
.promo-tabs-sec-wrp h1{
	margin: 0;
	font-size: 35px;
	line-height: 37px;
}
.promo-tabs-wrp .blog-filter-btn{
	padding-top: 10px;
	padding-bottom: 60px;
}
.tabs-box-inr{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	min-height: 219px !important;
	border: 2px solid #eef1f7;
	padding-top: 15px;
	padding-left: 10px;
	position: relative;
}
.tabs-box-inr > a{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.tabs-dsc-innr ul{
	list-style: none;
	margin: 0 -5px;
	padding: 0;
}
.tabs-dsc-innr ul li{
	float: left;
	width: 33.3333%;
	padding: 0 5px 10px 5px;
}
.tabs-box-tp-logo{
	padding-bottom: 38px;
}
.tabs-box-tp-logo a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}
.tabs-box-middel-dsc{
	float: left;
	padding: 3px 45px 5px 10px;
	position: relative;
	border-left: 1px solid #fd7e30;
}
.tabs-box-middel-dsc:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 45px;
	height: 1px;
	background: #fd7a2a;
}
.tabs-box-middel-dsc:before{
	bottom: 0 !important;
	content: "";
	position: absolute;
	left: 0;
	width: 45px;
	height: 1px;
	background: #fd7a2a;
}
.tabs-box-middel-dsc span,
.tabs-box-middel-dsc strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 58px;
	line-height: 53px;
	color: #ffa36b;
	font-family: "OpenSans-BoldItalic";
	text-transform: uppercase;
}
.tabs-box-middel-dsc span{
	font-size: 16px;
	line-height: 18px;
	padding-left: 4px;
}
.tabs-box-middel-dsc > a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    width: 34px;
    height: 35px;
    color: #fff;
    background: #0e857b;
    border-radius: 50px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 7px;
    top: 20px;
}
.tabs-box-btn{
	float: left;
	width: 100%;
	padding-top: 20px;
}
.tabs-box-btn a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	text-transform: uppercase;
	background: #0e857b;
	border-radius: 50px;
	padding: 3px 19px;
	font-family: 'OpenSans-SemiboldItalic';
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.tabs-box-btn a:hover{
	background: #17ada0;
}


@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.tabs-box-middel-dsc strong {
	    font-size: 54px;
	    line-height: 51px;
	}

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.promo-tabs-wrp .blog-filter-btn {
	    padding-bottom: 30px;
	    padding-top: 0;
	}
	.tabs-dsc-innr ul li{
	    float: left;
	    width: 50%;
	    position: static !important;
	    transform: none !important;
	}
	.tabs-dsc-innr ul li:nth-child(2n+1){
		clear: left !important;
	}
	.tabs-box-middel-dsc strong {
	    font-size: 50px;
	    line-height: 49px;
	}
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.tabs-box-middel-dsc strong {
	    font-size: 46px;
	    line-height: 47px;
	}
	.promo-tabs-sec-wrp {
	    padding-top: 10px;
	    padding-bottom: 120px;
	}
	.promo-tabs-sec-wrp h1 {
	    font-size: 32px;
	    line-height: 35px;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.tabs-box-middel-dsc strong {
	    font-size: 42px;
	    line-height: 45px;
	}
	.tabs-dsc-innr ul{
		margin: 0;
	}
	.tabs-dsc-innr ul li{
		max-width: 380px;
	    width: 100%;
	    margin: 0 auto;
	    padding-left: 0;
	    padding-right: 0;
	    float: none;
	}
	.tabs-dsc-innr ul li:nth-child(2n+1){
		clear: none !important;
	}

}


@media(max-width: 479px){
	.tabs-box-middel-dsc strong {
	    font-size: 38px;
	    line-height: 42px;
	}

}



@media(max-width: 359px){

}