.servicios-main-sec {
    margin: 30px 0 80px;
}  
.servicios-content{
	width:72.72%;
	float: left;
}
.servicios-content-head {
	position: relative;
	border-bottom: 1px solid #eef1f7;
	margin-bottom: 20px;
	padding-bottom: 16px;
}
.servicios-content-head:after {
	content: "";
    position: absolute;
    width: 47px;
    height: 19px;
    background-image: url(../images/servicios-content-head-inc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    bottom: -8px;
}
.servicios-content-head h1{
    font-family: 'OpenSans-Italic';
    color: #0e857b;
    text-transform: uppercase;
	font-size: 35px;
}
.servicios-content-head h1 span{
	font-family: 'OpenSans-ExtraboldItalic';
	color:#fd6607;
}
.servicios-siderbar {
    width: 27.28%;
    float: left;
    padding-left: 32px;
    padding-top: 8px;
}
.llevamosSlider-wrp{
	position: relative;
}
.llevamosSlider{
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	padding: 42px 50px 60px;
	border-radius: 20px 0 20px 0;
}
.llevamosSlider-item {
	padding-left: 20px;
	padding-right: 20px;
}
.llevamosSlider-item h2{
	font-family: 'OpenSans-ExtraboldItalic';
    letter-spacing: -1.8px;
    margin-bottom: 55px;
	-webkit-text-stroke: 2px #fd6607;
    -webkit-text-fill-color: #fff;
	color:#fff;
	/*text-shadow: -1px -1px 0 #fd6607, 1px -1px 0 #fd6607, -1px 1px 0 #fd6607, 1px 1px 0 #fd6607;*/
}
.llevamosSlider-item ul li{
	width: 	47.75%;
	float: left;
	min-height:67px;
	background-image: url(../images/llevamosSlider-line-bg.png);
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	color:#fff;
	padding-left: 84px;
	margin-bottom: 32px;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.llevamosSlider-item ul li:nth-child(2n+1){
	clear:left;
}
.llevamosSlider-item ul li span{
	display: block;
	font-family: 'OpenSans-Italic';
}
.llevamosSlider-item ul li strong{
	display: block;
	font-weight: normal;
	font-size:22px;
	font-family: "OpenSans-BoldItalic";
}
.llevamosSlider-item ul li:nth-child(2n+2){
	float: right;	
	padding-left: 0;
	padding-right: 84px;
}
.llevamosSlider-item ul li >i{
	position: absolute;
	left:-10px;
	top:-12px;
	max-width: 83px;
}
.llevamosSlider-item ul li:nth-child(2n+2) >i{
	left:auto;
	right:-10px;
}
.llevamosSlider-item ul li >img{
	width:100%;
}
.servicios-content-des{
	padding: 15px 0 30px;
	font-size: 15px;
}
.servicios-content-des p{
	margin-bottom: 36px;
}
.servicios-content-des h6{
	margin-bottom: 24px;
	font-size: 18px;
	color: #0e857b;
	text-transform: uppercase;
	font-family: 'OpenSans-Semibold';
}
.servicios-content-des ul{
    list-style: none; 
	margin: 0;
    padding: 0;
	padding-left:25px;
}
.servicios-content-des ul li{
	padding-left:25px;
	position: relative;
	margin-bottom: 32px;
}
.servicios-content-des ul li:last-child{
	margin-bottom: 0;
}
.servicios-accordion-des ul li:after,
.servicios-content-des ul li:after{
	content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../images/servicios-content-list-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 3px;
}
.servicios-accordion-hdr{
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #eef1f7;
	margin-bottom: 25px;
}

.servicios-accordion-hdr:after{
	content: "";
    position: absolute;
    width: 46px;
    height: 19px;
    background-image: url(../images/servicios-accordion-head-inc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    bottom: -1px;
}
.servicios-accordion-hdr h4{
	color:#0e857b;
	font-family: 'OpenSans-Italic';
	margin-bottom: 0;
	text-transform: uppercase;
}
.servicios-accordion-hdr h4 span{
	color:#fd6607;
	font-family: 'OpenSans-ExtraboldItalic';

}
.servicios-accordion-con{
	border-left: 3px solid #0000;
	background: #fafbfc;
	padding-left: 25px;
	padding-bottom: 10px;
	margin-bottom: 2px;
}
.servicios-accordion-con.active{
	border-left: 3px solid #0e857b;
	background: #fffbf8;
}
.servicios-accordion-title{
	position: relative;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 15px;
}
.servicios-accordion-title {
    position: relative;
	cursor: pointer;
	padding:25px 60px 15px 50px;
}
.servicios-accordion-title:after{	
	content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(../images/accordion-dwn-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-accordion-title:after{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(../images/accordion-dwn-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 20px;
	top: 55%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-accordion-con.active .servicios-accordion-title:after{	
    background-image: url(../images/accordion-up-inc.png);
    background-repeat: no-repeat;
}
.servicios-accordion-title i{
	position: absolute;
	left: 0;
	top: 55%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-accordion-title h5{
	margin-bottom: 0;
	font-family: 'OpenSans-Semibold';
	color:#0e857b;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.servicios-accordion-title:hover h5{
	color:#fd6607;
}
.servicios-accordion-des{
	display: none;
}
.servicios-accordion-con.active .servicios-accordion-des{
	display: block;
}

.servicios-accordion-des{
	padding-bottom: 20px;
}
.servicios-accordion-des ul {
	padding-left: 47px;
}
.servicios-accordion-des ul li{
	position: relative;
	padding-left:25px;
	margin-bottom: 6px;
}





/*
	Sidebar Design
*/


.servicios-siderbar-accordion{
	margin-bottom: 10px;
}
.servicios-siderbar-accordion-con{
	padding-bottom: 10px;
	cursor: pointer;
}
.servicios-siderbar-accordion-title{
	background: #FFF;
	position: relative;
	padding: 17px 32px 17px 50px;
	border: 1px solid #fed9c1;
	border-radius: 0 35px 35px 0; 
	border-left: 3px solid #0e857b;
}
.servicios-siderbar-accordion-title:hover span{
	color: #fd6708;
}
.servicios-siderbar-accordion-con.active .servicios-siderbar-accordion-title{
	background: #fd6607;
}
.servicios-siderbar-accordion-title:after{	
	content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(../images/accordion-dwn-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-siderbar-accordion-title:after{	
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-image: url(../images/siderbar-accordion-dwn-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    right: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-siderbar-accordion-con.active .servicios-siderbar-accordion-title:after{	
    background-image: url(../images/siderbar-accordion-up-inc.png);
    background-repeat: no-repeat;
}
.servicios-siderbar-accordion-title i{
	position: absolute;
	left: 7px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-siderbar-accordion-title i img:nth-child(1){
	display: inline-block;
}
.servicios-siderbar-accordion-title i img:nth-child(2){
	display: none;
}
.servicios-siderbar-accordion-con.active .servicios-siderbar-accordion-title i img:nth-child(1){
	display: none;
}
.servicios-siderbar-accordion-con.active .servicios-siderbar-accordion-title i img:nth-child(2){
	display: inline-block;
}
.servicios-siderbar-accordion-title span{
	display: block;
	font-size:16px;
	font-family: 'OpenSans-SemiboldItalic';
	color:#0e857b;
	text-transform: uppercase;
	letter-spacing: -0.7px;
}
.servicios-siderbar-accordion-con.active .servicios-siderbar-accordion-title span{
	color:#fff;
}
.servicios-siderbar-accordion-des{
	display: none;
}
.servicios-siderbar-accordion-con.active .servicios-siderbar-accordion-des{
	display: block;
}
.servicios-siderbar-accordion-des{
	padding-top: 10px;
}
.servicios-siderbar-accordion-des ul {
	padding-left: 15px;
	padding-right: 32px;
}
.servicios-siderbar-accordion-des ul li{
	position: relative;
	padding: 6px 0 6px 10px;
	margin-bottom: 4px;
	font-size: 15px;
}
.servicios-siderbar-accordion-des ul li{
	position: relative;
	padding: 6px 0 6px 10px;
	margin-bottom: 4px;
	font-size: 15px;
	position: relative;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.servicios-siderbar-accordion-des ul li:last-child{
	margin-bottom: 0;
}
.servicios-siderbar-accordion-des ul li:hover{
	font-family: 'OpenSans-SemiboldItalic';
	color:#0e857b;
}
.servicios-siderbar-accordion-des ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #0000;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.servicios-siderbar-accordion-des ul li:hover::before {
    width: 100%;
    background: #0e857b;
}
.servicios-siderbar-accordion-des ul li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    background-image: url(../images/servicios-siderbar-content-list-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 11px;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.servicios-siderbar-accordion-des ul li:hover::after {
    background-image: url(../images/servicios-siderbar-content-list-inc-ac.png);
    background-repeat: no-repeat;
}
.siderbarProSlider-wrp{
	padding-bottom: 50px;
}
.siderbarProSlider-item{
	position: relative;
}
.siderbarProSlider-item img{
	border-radius: 20px;
	max-width: 287px;
	width:100%;
}






.siderbarRecentPost-hdr{
	position: relative;
	padding: 15px 0 13px;
	border-bottom: 1px solid #eef1f7;
}
.siderbarRecentPost-hdr:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 19px;
    background-image: url(../images/siderbarRecentPost-hdr-inc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
	bottom: -9px;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.siderbarRecentPost-hdr h5{
	font-size: 19px;
	color:#0e857b;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	margin-bottom: 0;
}
.siderbarRecentPost-hdr h5 span{
	color:#fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
}


.servicios-siderbar-recent-post-innr ul{
	padding-right: 32px;

}
.servicios-siderbar-recent-post-innr ul li{
	border-bottom: 1px solid #eef1f7;
	padding: 20px 0 40px 95px;
	position: relative;
	min-height: 122px;
}
.servicios-siderbar-recent-post-innr li i{
	display: block;
	max-width: 80px;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.servicios-siderbar-recent-post-innr li i a {
	display: block;
}
.servicios-siderbar-recent-post-innr li i a img{
	width: 100%;
	border-radius: 5px;
}
.servicios-siderbar-recent-post-innr li > a{
	display: block;
	font-size:13px;
	font-family: "OpenSans-Bold";
	color:inherit;
}
.servicios-siderbar-recent-post-innr li > a:hover{
	color:#0e857b;
}
.servicios-siderbar-recent-post-innr li span.post-date{
	display: block;
	position: absolute;
	left:95px;
	bottom:20px;
	padding-left: 23px;
	font-size:13px;
	color:#f1c1a3;
}
.servicios-siderbar-recent-post-innr li span.post-date::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 15px;
    background-image: url(../images/recent-post-date-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
	top: 0;
}
.siderbarRecentPostSlider-wrp{
	position: relative;
	padding-bottom: 40px;
}
.recentPost-sliderarrows .leftArrow {
	content: "";
    position: absolute;
    width: 14px;
    height: 43px;
    background-image: url(../images/recentpost-lft-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	left: 24%;
	bottom: 0;
	border-radius: 100%;
	cursor: pointer;
	z-index: 5;
	opacity: .5;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;	
}
.recentPost-sliderarrows .rightArrow {
	content: "";
    position: absolute;
    width: 14px;
    height: 43px;
    background-image: url(../images/recentpost-rgt-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	right: 24%;
	bottom: 0;
	border-radius: 100%;
	cursor: pointer;
	z-index: 5;
	opacity: .5;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.recentPost-sliderarrows .leftArrow:hover,
.recentPost-sliderarrows .rightArrow:hover {
	opacity: 1;
}
.servicios-partner-slider-sec{
	background: #fafbfc;
	padding-bottom: 20px;
}
.serviciosPartnerSlider-innr-wrp{
	max-width: 905px;
	margin: 0 auto;
}
.serviciosPartnerSlider-hdr{
	position: relative;
	text-align: center;
	padding: 35px 0 25px;
}
.serviciosPartnerSlider-hdr:before{
	content: "";
	position: absolute;
	max-width:280px;
	width:100%;	
	height: 1px;
	background: #eef1f7;
	bottom:0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.serviciosPartnerSlider-hdr:after{
	content: "";
    position: absolute;
    width: 55px;
    height: 19px;
    background-image: url(../images/serviciosPartnerSlider-hdr-inc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
	bottom: -8px;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.serviciosPartnerSlider-hdr h2{
	color:#0e857b;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	margin-bottom: 0;
}
.serviciosPartnerSlider-hdr span{
	position: relative;
	color:#fd6607;
	font-family: 'OpenSans-SemiboldItalic';
}

.serviciosPartnerSlider-wrp{
	position: relative;
}
.serviciosPartnerSlider{
	padding: 25px 0;
}

.noticias-slider-sec-wrp{
	padding-top: 35px;
}
.blog-main-hdr,
.noticias-slider-hdr{
	text-align: center;
}
.blog-main-hdr h1,
.noticias-slider-hdr h2{
	font-size: 35px;
	color:#0e857b;
	font-family: 'OpenSans-Italic';
	text-transform: uppercase;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 12px;
}
.blog-main-hdr h1 span,
.noticias-slider-hdr h2 span{
	color:#fd6607;
	font-family: 'OpenSans-ExtraboldItalic';
}
.blog-main-hdr h1:after,
.noticias-slider-hdr h2:after{
	content: "";
	position: absolute;
	max-width: 280px;
	width: 100%;
	height: 1px;
	background: #eef1f7;
    bottom: 0;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.blog-main-hdr h1:before,
.noticias-slider-hdr h2:before{
    content: "";
    position: absolute;
    width: 55px;
    height: 19px;
    background-image: url(../images/noticiasSlider-hdr-inc.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
    bottom: -8px;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.blog-main-sec-innr-wrp,
.noticias-slider-innr-wrp{
	max-width: 1120px;
	margin: 0 auto;
	margin-bottom: 90px;
}
.blog-grd-wrp ul li{
	width:25%;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
}
.noticiasSlider .noticiasSlider-item{
	padding-left: 10px;
	padding-right: 10px;
}



.blog-grd,
.noticiasSlider-grd{
	padding: 20px;
	background: #fafbfc;
	border-bottom:2px solid #fa6405;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.blog-grd:hover,
.noticiasSlider-grd:hover{
	-webkit-box-shadow: 0 5px 14px -8px rgba(70, 70, 70, 0.61);
	-ms-box-shadow: 0 5px 14px -8px rgba(70, 70, 70, 0.61);
	box-shadow: 0 5px 14px -8px rgba(70, 70, 70, 0.61);
}
.blog-grd-img,
.noticiasSlider-grd-img{
	position: relative;
}
.blog-grd-img img,
.noticiasSlider-grd-img img{
	width:100%;
}
.blog-grd-des,
.noticiasSlider-grd-des{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
	min-height: 125px;
	text-align: center;
	text-transform: uppercase;
}
.blog-grd-des > a,
.noticiasSlider-grd-des > a{
	font-family: "OpenSans-BoldItalic";
	position: absolute;
	bottom: -41px;
	left: 50%;
	display: inline-block;
	color:#fff;
	font-size:14px;
	padding: 10px 12px;
	border-radius: 20px;
	max-width: 132px;
	width:100%;
	border:3px solid #faeee5;
	text-transform: uppercase;
	background: rgb(253,102,7);
	background: -webkit-linear-gradient(left, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	background: -o-linear-gradient(left, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	background: linear-gradient(to right, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.blog-grd-des > a:hover,
.noticiasSlider-grd-des > a:hover{
	border-color: #e2efef;
	background: rgb(1,92,78);
	background: -webkit-linear-gradient(left, rgba(1,92,78,1) 0%, rgba(13,131,121,1) 51%);
	background: -o-linear-gradient(left, rgba(1,92,78,1) 0%, rgba(13,131,121,1) 51%);
	background: linear-gradient(to right, rgba(1,92,78,1) 0%, rgba(13,131,121,1) 51%);
}
.blog-grd-des h6  > a,
.noticiasSlider-grd-des h6 > a{
	display: inline-block;
	vertical-align: baseline;
	color:#0e857b;
	font-family: 'OpenSans-SemiboldItalic';
	font-size:18px;
	margin-bottom: 0;
}
.blog-grd-des h6  > a:hover,
.noticiasSlider-grd-des h6 > a:hover{
	color:#fa5503;
}
.blog-grd-wrp ul li:nth-child(2n+2)  h6  > a,
.noticiasSlider .slick-current + .slick-active  h6  > a,
.noticiasSlider .slick-current + .slick-active + .slick-active + .slick-active  h6  > a{
	color:#fa5503;
}
.blog-grd-wrp ul li:nth-child(2n+2)  h6  > a:hover,
.noticiasSlider .slick-current + .slick-active  h6  > a:hover,
.noticiasSlider .slick-current + .slick-active + .slick-active + .slick-active  h6  > a:hover{
	color:#0e857b;
}
.blog-grd-wrp ul li:nth-child(2n+2) .blog-grd-des > a,
.noticiasSlider .slick-current + .slick-active .noticiasSlider-grd-des > a,
.noticiasSlider .slick-current + .slick-active + .slick-active + .slick-active .noticiasSlider-grd-des > a{
	border-color: #e2efef;
	background: rgb(1,92,78);
	background: -webkit-linear-gradient(left, rgba(1,92,78,1) 0%, rgba(13,131,121,1) 51%);
	background: -o-linear-gradient(left, rgba(1,92,78,1) 0%, rgba(13,131,121,1) 51%);
	background: linear-gradient(to right, rgba(1,92,78,1) 0%, rgba(13,131,121,1) 51%);
}

.blog-grd-wrp ul li:nth-child(2n+2) .blog-grd-des > a:hover,
.noticiasSlider .slick-current + .slick-active .noticiasSlider-grd-des > a:hover,
.noticiasSlider .slick-current + .slick-active + .slick-active + .slick-active .noticiasSlider-grd-des > a:hover{
	border-color: #faeee5;
	background: rgb(253,102,7);
	background: -webkit-linear-gradient(left, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	background: -o-linear-gradient(left, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	background: linear-gradient(to right, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
}
.noticiasSlider-date {
    font-family: "OpenSans-BoldItalic";
    position: absolute;
    top: -17px;
    left: 50%;
    display: block;
    width: 85px;
    height: 27px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 4px;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.noticiasSlider-date > span {
	position: relative;
	z-index: 3;
}
.noticiasSlider-date div.sqew{
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	background: rgb(253,102,7);
	background: -webkit-linear-gradient(left, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	background: -o-linear-gradient(left, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	background: linear-gradient(to right, rgba(253,102,7,1) 25%, rgba(251,136,24,1) 59%);
	-moz-transform: skew(-18deg, 0deg);
	-webkit-transform: skew(-18deg, 0deg);
	-o-transform: skew(-18deg, 0deg);
	-ms-transform: skew(-18deg, 0deg);
	transform: skew(-18deg, 0deg);
	z-index: 2;
}

.noticiasSlider .slick-list {
    padding-bottom: 20px;
}
.noticiasSlider-wrp{
	position: relative;
}


.servicios-siderbar-form-wrp{
	margin-bottom: 25px;
}

.dft-page-contact-form {
    background-image: url(../images/dft-page-contact-form-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    padding: 40px 15px 10px;
    margin-top: 35px;
}
.dft-page-contact-form:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../images/dft-page-contact-form-inc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 50%;
	top: -36px;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
    
}
.dft-page-contact-form-hdr{
	padding: ;
	color:#fff;
}
.dft-page-contact-form-hdr h4{
	font-family: 'OpenSans-Semibold';
}

.dft-page-contact-form-hdr p{
	font-family: "Lato-Light";
	font-size:20px;
}

.dft-page-contact-form-main input{
	width:100%;
	background: #fff;
	padding: 5px 10px;
	font-size:14px;
	margin-bottom: 8px;
	border-radius: 20px;
	border:2px solid #eeeeee;
}
.dft-page-contact-form-main input:focus{
	border-color:#fd6607;
}
.dft-page-contact-form-main ::-webkit-input-placeholder {
  color: #8f8f92;
  color: gre;
  opacity: 1;
}
.dft-page-contact-form-main :-ms-input-placeholder { 
  color: #8f8f92;
  opacity: 1;
}
.dft-page-contact-form-main ::placeholder {
  color: #8f8f92;
  opacity: 1;
}
.dft-page-contact-form-main textarea{
	width:100%;
	background: #fff;
	min-height: 135px;
	resize: none;
	padding: 10px;
	font-size:14px;
	margin-bottom: 12px;
	border-radius: 20px;
	border: 2px solid #eeeeee;
}
.dft-page-contact-form-main textarea:focus{
	border-color:#fd6607;
}
.dft-page-contact-form-main button,
.dft-page-contact-form-main .mwpforms-submit{
	font-family: 'OpenSans-Semibold';
	display: block;
	max-width: 152px;
	width:100%;
	background: #fd6708;
	padding: 7px 5px;
	border-radius: 20px;
	color: #fff;
	margin: 0 auto;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.dft-page-contact-form-main button:hover{
	background: #fff;
	color: #fd6708;
}
.dft-page-contact-form-main select{
	border: 2px solid #eeeeee;
	color: #8f8f92;
	text-align:left;
	text-align-last: left;
	border-radius:20px;
    background-image: url(../images/select-icon.png);
    background-repeat: no-repeat;
    background-position: right 12px top 57%;    
    width:100%;
    padding: 5px 10px;
	font-size:14px;
	margin-bottom: 8px;
    background-size:10px 9px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.dft-page-contact-form-main select option{
	border:2px solid #999;
	color: #8f8f92;
	border-radius:10px;
}


/*
----------------
 Sliderarrows Css
----------------
*/
.blogGrdSlider-arrows .leftArrow,
.noticiasSlider-arrows .leftArrow,
.serviciosPartnerSlider-arrows .leftArrow,
.llevamosSlider-arrows .leftArrow{
	content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    background-image: url(../images/medik-lft-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	left: 2px;
	top: 50%;
	border-radius: 100%;
	cursor: pointer;
	z-index: 5;
	opacity: .5;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;	
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.blogGrdSlider-arrows .rightArrow, 
.noticiasSlider-arrows .rightArrow, 
.serviciosPartnerSlider-arrows .rightArrow, 
.llevamosSlider-arrows .rightArrow {
	content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    background-image: url(../images/medik-rgt-arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	right: 2px;
	top: 50%;
	border-radius: 100%;
	cursor: pointer;
	z-index: 5;
	opacity: .5;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.blogGrdSlider-arrows .leftArrow:hover,
.blogGrdSlider-arrows .rightArrow:hover,
.noticiasSlider-arrows .leftArrow:hover,
.noticiasSlider-arrows .rightArrow:hover,
.serviciosPartnerSlider-arrows .leftArrow:hover,
.serviciosPartnerSlider-arrows .rightArrow:hover,
.llevamosSlider-arrows .leftArrow:hover,
.llevamosSlider-arrows .rightArrow:hover{
	opacity: 1;
}
.blogGrdSlider-arrows .leftArrow,
.noticiasSlider-arrows .leftArrow{
	left: -47px;
}
.blogGrdSlider-arrows .rightArrow,
.noticiasSlider-arrows .rightArrow{
	right: -47px;
}
.blogGrdSlider-arrows{
	display: none;
}
.serviciosPartnerSlider-arrows .leftArrow{
	left: -155px;
	top:20%;
}
.serviciosPartnerSlider-arrows .rightArrow{
	right: -155px;
	top:20%;
}



/*
----------------
 Pagination Css
----------------
*/
.blogGrdSlider .slick-dots,
.serviciosPartnerSlider .slick-dots,
.siderbarProSlider .slick-dots,
.siderbarRecentPostSlider .slick-dots,
.noticiasSlider .slick-dots,
.llevamosSlider .slick-dots{
	left: 0;
}
.blogGrdSlider .slick-dots li,
.serviciosPartnerSlider .slick-dots li,
.siderbarProSlider .slick-dots li,
.siderbarRecentPostSlider .slick-dots li,
.noticiasSlider .slick-dots li,
.llevamosSlider .slick-dots li{
	background-image: url(../images/sky-pagi.png);
	background-size: 7px 7px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
	display: inline-block;
	vertical-align: baseline;
	float: none;
}
.blogGrdSlider .slick-dots li,
.blogGrdSlider .slick-dots li button,
.blogGrdSlider .slick-dots li button:before,
.serviciosPartnerSlider .slick-dots li,
.serviciosPartnerSlider .slick-dots li button,
.serviciosPartnerSlider .slick-dots li button:before,
.siderbarProSlider .slick-dots li,
.siderbarProSlider .slick-dots li button,
.siderbarProSlider .slick-dots li button:before,
.siderbarRecentPostSlider .slick-dots li,
.siderbarRecentPostSlider .slick-dots li button,
.siderbarRecentPostSlider .slick-dots li button:before,
.noticiasSlider .slick-dots li,
.noticiasSlider .slick-dots li button,
.noticiasSlider .slick-dots li button:before,
.llevamosSlider .slick-dots li,
.llevamosSlider .slick-dots li button,
.llevamosSlider .slick-dots li button:before{
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.blogGrdSlider .slick-dots li button:before,
.serviciosPartnerSlider .slick-dots li button:before,
.siderbarProSlider .slick-dots li button:before,
.siderbarRecentPostSlider .slick-dots li button:before,
.noticiasSlider .slick-dots li button:before,
.llevamosSlider .slick-dots li button:before{
	content: "";
}
.blogGrdSlider .slick-dots li.slick-active,
.blogGrdSlider .slick-dots li:hover,
.serviciosPartnerSlider .slick-dots li.slick-active,
.serviciosPartnerSlider .slick-dots li:hover,
.siderbarProSlider .slick-dots li.slick-active,
.siderbarProSlider .slick-dots li:hover,
.siderbarRecentPostSlider .slick-dots li.slick-active,
.siderbarRecentPostSlider .slick-dots li:hover,
.noticiasSlider .slick-dots li.slick-active,
.noticiasSlider .slick-dots li:hover,
.llevamosSlider .slick-dots li.slick-active,
.llevamosSlider .slick-dots li:hover{
	background-image: url(../images/yellow-pegi.png);
	background-size: 21px 21px;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.noticiasSlider .slick-dots {
    bottom: -35px;
}
.siderbarRecentPostSlider .slick-dots {
    bottom: -60px;
}

.siderbarProSlider .slick-dots {
    bottom: -35px;
}



.noticiasSlider .noticiasSlider-item
/* .serviciosPartnerSlider .serviciosPartnerSlider-item, */
.siderbarRecentPostSlider .siderbarRecentPostSlider-item,
.siderbarProSlider .siderbarProSlider-item,
.llevamosSlider .llevamosSlider-item{
    display: none;
}
.noticiasSlider .noticiasSlider-item:first-child,
/* .serviciosPartnerSlider .serviciosPartnerSlider-item:first-child, */
.siderbarRecentPostSlider .siderbarRecentPostSlider-item:first-child,
.siderbarProSlider .siderbarProSlider-item:first-child,
.llevamosSlider .llevamosSlider-item:first-child{
    display: block;
}
.noticiasSlider.slick-initialized .noticiasSlider-item,
/* .serviciosPartnerSlider.slick-initialized .serviciosPartnerSlider-item, */
.siderbarRecentPostSlider.slick-initialized .siderbarRecentPostSlider-item,
.siderbarProSlide.slick-initialized .siderbarProSlider-item,
.llevamosSlider.slick-initialized .llevamosSlider-item{
    display: block;
}












@media(max-width: 1249px){ 
	.serviciosPartnerSlider-arrows .leftArrow {
	    left: -50px;
	    top: 20%;
	}
	.serviciosPartnerSlider-arrows .rightArrow {
	    right: -50px;
	    top: 20%;
	}
	.noticias-slider-innr-wrp {
	    max-width: 1050px;
	}
	.noticiasSlider-arrows .leftArrow {
	    left: -45px;
	}
	.noticiasSlider-arrows .rightArrow {
	    right: -45px;
	}
}


@media(max-width: 1199px){ 
	.llevamosSlider-item ul li strong {
	    font-size: 17px;
	}
	.llevamosSlider-item ul li span {
	    font-size: 12px
	}
	.noticias-slider-innr-wrp {
	    max-width: 900px;
	}
	.serviciosPartnerSlider-wrp{
		max-width: 850px;
		margin:0 auto;
	}
	.servicios-siderbar-accordion-title span {
	    font-size: 14px;
	}	
	.servicios-siderbar-accordion-des ul li {
	    font-size: 13px;
	}
	.servicios-siderbar-accordion-title {
	    border-radius: 0 35px 35px 0;
	}
	.servicios-siderbar-recent-post-innr ul {
	    padding-right: 0;
	}
	.servicios-siderbar-recent-post-innr li span.post-date {
	    font-size: 12px;
	}
	.blog-grd-des p, .noticiasSlider-grd-des p {
	    font-size: 15px;
	}
	.blog-grd-des h6 br,
	.noticiasSlider-grd-des h6 br,
	.dft-page-contact-form-hdr p br{
	    display: none;
	}

}

@media(max-width: 991px){
	.servicios-content {
	    width: 65%;
	    float: left;
	}
	.servicios-siderbar {
	    width: 35%;
	    padding-left: 15px;
	}
	.servicios-content-head h1 {
	    font-size: 30px;
	}
	.llevamosSlider {
	    padding: 35px 25px 25px;
	}
	.llevamosSlider-item ul li strong {
	    font-size: 12px;
	}
	.llevamosSlider-item ul li span {
	    font-size: 9px
	}
	.llevamosSlider-item ul li > i {
	    max-width: 50px;
	    top: -6px;
	}
	.llevamosSlider-item ul li {
	    min-height: 42px;
	    padding-left: 43px;
	    margin-bottom: 20px;
	}
	.llevamosSlider-item ul li:nth-child(2n+2) {
	    padding-right: 43px;
	}
	.llevamosSlider-item h2 {
	    margin-bottom: 30px;
	}
	.llevamosSlider-arrows{
		display: none;
	}
	.servicios-accordion-des ul li {
	    font-size: 14px
	}
	.serviciosPartnerSlider-wrp .serviciosPartnerSlider-arrows{
		display: none;
	}

	/*sidebar*/
	.dft-page-contact-form-hdr p {
	    font-family: "Lato-Light";
	    font-size: 16px;
	}
	.dft-page-contact-form-main button {
		font-size: 14px;
	}
	.dft-page-contact-form {
	    padding: 40px 9px 10px;
	    margin-top: 35px;
	}
	.dft-page-contact-form-main textarea,
	.dft-page-contact-form-main input {
	    font-size: 13px;
	}
	.dft-page-contact-form-main select {
	    font-size: 12px;
	}
	.servicios-siderbar-recent-post-innr ul li {
	    padding: 15px 0 35px 84px;
	    min-height: 115px;
	}
	.servicios-siderbar-recent-post-innr ul li i {
	    max-width: 72px;
	}
	.servicios-siderbar-recent-post-innr li span.post-date {
	    font-size: 12px;
	    bottom: 12px;
	    left: 86px;
	}
	.siderbarRecentPost-hdr {
	    margin-bottom: 10px;
	}
	.noticias-slider-innr-wrp {
	    max-width: 660px;
	}
	.blog-main-hdr h1, .noticias-slider-hdr h2 {
	    font-size: 30px;
	}
	.blog-grd-wrp ul li {
	    width: 33.333%;
	}
}

@media(max-width: 767px){
	.servicios-main-sec {
	    margin: 30px 0 5px;
	}
	.servicios-content {
	    width: 100%;
	}
	.servicios-siderbar {
	    width: 100%;
	    padding-left: 0;
	}
	.servicios-content-head {
	    border-bottom: 0;
	}
	.servicios-accordion-hdr::after,
	.servicios-content-head::after {
		content: none;
		display: none;
	}
	.servicios-accordion-hdr {
	    border-bottom:0;
	    margin-bottom: 8px;
	}
	.servicios-accordion-hdr h4 {
	    font-size: 22px;
	    text-align: center;
	    position: relative;
	    padding-bottom: 20px;
	}
	.servicios-content-head h1 {
	    text-align: center;
	    font-size: 33px;
	    position: relative;
	    padding-bottom: 20px;
	}
	.servicios-accordion-hdr h4::after,
	.servicios-content-head h1::after {
		content: "";
		position: absolute;
	    width:55px;
	    height: 19px;
	    background-image: url(../images/noticiasSlider-hdr-inc.jpg);
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    left: 50%;
		bottom: -18px;
	    -ms-transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%)
	}
	.servicios-accordion-hdr h4::after{
		bottom: -8px;
	}
	.servicios-accordion-hdr h4::before,
	.servicios-content-head h1::before {
	    content: "";
	    position: absolute;
	    height: 1px;
	    width: 280px;
	    background: #eef1f7;
	    bottom: 0;
	    left: 50%;
	    -ms-transform: translateX(-50%);
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%)
	}
	.servicios-dft-img{
		display: none;
	}
	.servicios-content-des {
	    padding: 20px 0 47px;
	    max-width: 550px;
	    margin: 0 auto;
	}
	.servicios-accordion-wrp {
	    max-width: 550px;
	    margin: 0 auto;		
	}
	.siderbarRecentPostSlider-wrp,
	.servicios-siderbar-accordion,
	.servicios-siderbar-form-wrp{
	    max-width: 400px;
	    margin: 0 auto;
	}
	.servicios-siderbar-accordion,
	.servicios-siderbar-form-wrp{
	    margin-bottom: 35px;
	}
	.dft-page-contact-form {
	    padding: 40px 20px 10px;
	    margin-top: 40px;
	}
	.dft-page-contact-form-main select {
	    margin-bottom: 12px;
	}
	.dft-page-contact-form-main input {
	    margin-bottom: 12px;
	}
	.siderbarProSlider-wrp{
	    max-width: 288px;
	    margin: 0 auto ;
	}
	.siderbarProSlider-wrp {
	    padding-bottom: 30px;
	}
	.servicios-siderbar-recent-post-innr li > a {
	    margin-bottom: 10px;
	}
	.servicios-siderbar-recent-post-innr li > a br{
	    display: none;
	}
	.servicios-siderbar-recent-post-innr ul li {
	    padding: 16px 0 35px 84px;
	    min-height: 95px;
	}
	.serviciosPartnerSlider .slick-slide img {
	    display: block;
	    margin: 0 auto!important;
	}
	.blog-main-sec-innr-wrp,
	.noticias-slider-innr-wrp {
	    max-width: 480px;
	}
	.blog-main-hdr h1, .noticias-slider-hdr h2 {
	    font-size: 25px;
	}
	.serviciosPartnerSlider {
	    padding: 25px 0 15px;
	}
	.blog-grd-wrp ul li {
	    width: 50%;
	}
	.blog-main-hdr br, 
	.noticias-slider-hdr br{
	    display: none;
	}
	.blogGrdSlider-arrows{
		display: block;
	}
	.serviciosPartnerSlider-hdr h2 {
	    font-size: 33px;
	}
	.serviciosPartnerSlider-hdr span{
		display: block;
	}
	.serviciosPartnerSlider-hdr {
	    padding: 35px 0 30px;
	}
	.siderbarRecentPostSlider-wrp{
		display: none;
	}
	.servicios-siderbar {
	    padding-top: 42px;
	}
	.servicios-main-sec .dft-page-contact-form-hdr h4 {
	    font-size: 34px;
	}
	.servicios-siderbar-form-wrp {
	    margin-bottom: 45px;
	}
	.noticias-slider-sec-wrp.servicios-noticias-slider-sec {
	    padding-top: 60px;
	}
	.dft-page-contact-form-hdr p{
		font-size: 31px;
		  font-family: "Lato-Light";
	}
	.servicios-partner-slider-sec{
		margin-bottom: 50px;
	}
}

@media(max-width: 639px){

}

@media(max-width: 575px){
	.llevamosSlider {
	    padding: 19px 5px 10px;
	}
	.servicios-content-des ul {
	    padding-left: 10px;
	}
	.servicios-content-des ul li {
	    margin-bottom: 20px;
	}
	.blog-main-sec-innr-wrp,
	.noticias-slider-innr-wrp {
	    max-width: 360px;
	}
	.blogGrdSlider .slick-dots {
	    bottom: -48px!important;
	}
	.llevamosSlider-item ul li {
	    padding-right: 5px;
	}
	.llevamosSlider-item ul li:nth-child(2n+2) {
	    padding-left: 5px;
	}
	.servicios-main-sec .dft-page-contact-form-hdr h4 {
	    font-size: 30px;
	}
	.dft-page-contact-form-hdr p{
		font-size: 22px;
	}
	.dft-page-contact-form{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media(max-width: 479px){
	.llevamosSlider-wrp {
		margin-left: -15px;
		margin-right: -15px;
	}
	.llevamosSlider-item {
	    padding-left: 12px;
	    padding-right: 12px;
	}
	.servicios-accordion-title h5{
		font-size: 15px;
	}
	.servicios-accordion-des {
	    padding-bottom: 0px;
	}
	.blog-main-sec-innr-wrp,
	.noticias-slider-innr-wrp {
	    max-width: 300px;
	}
	.blog-grd-wrp ul li {
	    width: 100%;
	}
	.servicios-content-head h1 {
	    font-size: 30px;
	}
	.servicios-main-sec .dft-page-contact-form-hdr h4 {
	    font-size: 25px;
	}
	.dft-page-contact-form-hdr p {
	    font-size: 18px;
	}
}

@media(max-width: 399px){
	.blogGrdSlider-arrows,
	.noticiasSlider-arrows{
		display: none;
	}
	.llevamosSlider-item ul li strong {
	    font-size: 9px;
	}
	.llevamosSlider-item ul li span br{
	    display: none;
	}
}

@media(max-width: 359px){
	.servicios-content-head h1 {
	    font-size: 27px;
	}
	.servicios-accordion-hdr h4 {
	    font-size: 21px;
	}
	.llevamosSlider-item ul li {
	    min-height: 52px;
	    margin-bottom: 15px;
	}
	.llevamosSlider-item ul li > i {
	    max-width: 50px;
	    top: -1px;
	}
}
